{% extends '../layout/user_sidebar.html' %}
{% block css %}
<link rel="stylesheet" href="/css/lib/sky-forms.css">
<link rel="stylesheet" href="/css/lib/custom-sky-forms.css">
{% endblock%}
{% block breadcrumbs%}
<li><a href="/index">首页</a></li>
<li><a href="/yunbook">云板书</a></li>
<li class="active">{{title}}</li>
{% endblock %}
{% block content%}
<form class="sky-form">
    <header>新建云板书</header>
    <fieldset>
        <section>
            <label for="" class="label">选择分类</label>
            <div class="form-gruop">
                <div class="col-sm-3">
                    <select class="select form-control" style="border-radius:0" id="select1"><option value="">未选择</option></select>
                </div>
                <div class="col-sm-3">
                    <select id="select2" style="border-radius:0" class="select form-control">
                        <option value="">未选择</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select id="select3" style="border-radius:0" class="select form-control">
                        <option value="">未选择</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select id="select4" style="border-radius:0" class="select form-control">
                        <option value="">未选择</option>
                    </select>
                </div>
            </div>
        </section>
        <section>
            <label class="label" for="title">云板书标题</label>
            <label class="input">
                <input type="text" required="required" id="title">
            </label>
        </section>
        <section>
            <label class="label">云板书图片</label>
            <label for="file" class="input input-file">
                <div id="b" class="button">
                    <input type="file" id="file" required="required"
                           onchange="this.parentNode.nextElementSibling.value = this.value">选择文件
                </div>
                <input id="path" type="text" readonly>
            </label>
        </section>
    </fieldset>
    <footer>
        <button type="submit" class="btn-u">提交</button>
        <button type="button" class="btn-u btn-u-default"
                onclick="document.getElementsByTagName('form')[0].reset();">重填</button>
    </footer>
</form>
{% endblock%}
{% block js %}
<script type="text/javascript" src="/js/lib/jquery.blockUI.min.js"></script>
<script>
    $(document).ready(function () {
        var $yunbookCollapse = $('#collapse-yunbook');
        var api="{{config.url.api}}";
        jQuery('.list-group-item').on('click', function () {
            jQuery(this).toggleClass('active');
        });
        $yunbookCollapse.addClass('in');
        $yunbookCollapse.find('li').eq(1).addClass('active');
        $.ajax({
            url:api+"category/list/",
            data:{
                zoom:4
            },dataType:'json'
        }).done(function (data) {
            if(data.code === 0){
                var vals="";
                data.list.forEach(function (item,index) {
                    vals+="<option value='"+item.aid+"'>"+item.names+"</option>"
                })
                $('#select1').html(vals);
            }
        }).fail(function () {
            toastr.error('获取分类信息超时!请稍后再试！');
        })
        $('#select1').on('change',function () {
            $.ajax({
                url:api+"category/list/",
                data:{
                    zoom:5,
                    paid:$('#select1').val()
                },dataType:'json'
            }).done(function (data) {
                if(data.code === 0){
                    var vals="";
                    data.list.forEach(function (item,index) {
                        vals+="<option value='"+item.aid+"'>"+item.names+"</option>"
                    })
                    $('#select2').html(vals);
                }
            }).fail(function () {
                toastr.error('获取分类信息超时!请稍后再试！');
            })
        });
        $('#select2').on('change',function () {
            $.ajax({
                url:api+"category/list/",
                data:{
                    zoom:6,
                    paid:$('#select2').val()
                },dataType:'json'
            }).done(function (data) {
                if(data.code === 0){
                    var vals="";
                    data.list.forEach(function (item,index) {
                        vals+="<option value='"+item.aid+"'>"+item.names+"</option>"
                    })
                    $('#select3').html(vals);
                }
            }).fail(function () {
                toastr.error('获取分类信息超时!请稍后再试！');
            })
        })
        $('#select3').on('change',function () {
            $.ajax({
                url:api+"category/list/",
                data:{
                    zoom:7,
                    paid:$('#select3').val()
                },dataType:'json'
            }).done(function (data) {
                if(data.code === 0){
                    var vals="";
                    data.list.forEach(function (item,index) {
                        vals+="<option value='"+item.aid+"'>"+item.names+"</option>"
                    })
                    $('#select4').html(vals);
                }
            }).fail(function () {
                toastr.error('获取分类信息超时!请稍后再试！');
            })
        })
        $('form').submit(function(e){
            var title=$('#title').val(),
                    file=$('#file').get(0).files[0];
            var aid = $('#select4').val();
            e.preventDefault();
            var formData=new FormData();
            formData.append('uploadfile',file);
            formData.append('title',title);
            $('form').block({message:'<i class="fa fa-spinner fa-pulse fa-5x center"></i>'});
            $.ajax({
                url:'{{config.url.upload}}/yunbook',dataType:'json',
                data:formData,
                type:'POST',
                contentType: false,
                processData: false,
                timeout:300000 //5min
            }).done(function(data){
                if(data.code===0){
                    $.ajax({
                        url: "{{config.url.api}}/userFile/Add/",
                        type:'post',
                        data: {
                            uid:'{{key}}',
                            type:3,
                            names: title,
                            key: '{{key}}',
                            width:data.file_width,
                            height:data.file_height,
                            token: '{{token}}',
                            zoom: data.zoom_num,
                            size:data.file_size,
                            cover_path:"{{config.url.domain}}cover/"+data.cover_path,
                            path:'{{config.url.domain}}yunbook/'+ data.file_path,
                            ext:file.name.split('.').pop(),
                            aid:(aid === null || aid==='')?78287:aid
                        },dataType:'json'
                    }).done(function(data){
                        if(data.code==0){
                            toastr.success('新建成功！');
                            window.location.href = '/yunbook/'+data.identity
                        }else {
                            toastr.error(data.msg === '' ? "新建失败！" : data.msg);
                        }
                    }).fail(function(){
                        toastr.error('新建云板书失败！');
                    });
                }else{
                    toastr.error(data.msg===''?"上传失败，请重新上传！":data.msg);
                }
            }).fail(function(){
                toastr.error('文件上传超时！');
            }).always(function(){
                $('form').unblock();
            });
            return false;
        });
    });
</script>
{% endblock %}
