{% extends '../layout/user_sidebar.html' %}
{% block css %}
<link rel="stylesheet" href="/css/lib/sky-forms.css">
<link rel="stylesheet" href="/css/lib/custom-sky-forms.css">
{% endblock%}
{% block breadcrumbs%}
<li><a href="/index">首页</a></li>
<li><a href="/yunbook">云板书</a></li>
<li class="active">{{title}}</li>
{% endblock %}
{% block content%}
<form class="sky-form">
    <header>新建云板书</header>
    <fieldset>
        <section>
            <label class="label" for="title">云板书标题</label>
            <label class="input">
                <input type="text" required="required" id="title">
            </label>
        </section>
        <section>
            <label class="label">云板书图片</label>
            <label for="file" class="input input-file">
                <div id="b" class="button">
                    <input type="file" id="file" required="required"
                           onchange="this.parentNode.nextElementSibling.value = this.value">选择文件
                </div>
                <input id="path" type="text" readonly>
            </label>
        </section>
        <section>
            <label class="label">云板书备注</label>
            <label class="textarea">
                <textarea id="remark" rows="3"></textarea>
            </label>
        </section>
    </fieldset>
    <footer>
        <button type="submit" class="btn-u">提交</button>
        <button type="button" class="btn-u btn-u-default"
                onclick="document.getElementsByTagName('form')[0].reset();">重填</button>
    </footer>
</form>
{% endblock%}
{% block js %}
<script>
    $(document).ready(function () {
        var $yunbookCollapse = $('#collapse-yunbook');
        $yunbookCollapse.addClass('in');
        $yunbookCollapse.find('li').eq(1).addClass('active');
        $('form').submit(function(){
            var title=$('#title').val(),
                    remark=$('#remark').val(),
                    file=$('#file').get(0).files[0];

            var formData=new FormData();
            formData.append('uploadfile',file);
            formData.append('title',title);
            $.ajax({
                url:'{{config.url.upload}}/yunbook',
                data:formData,
                type:'POST',
                contentType: false,
                processData: false,
                timeout:300000 //5min
            }).done(function(data){
                if(data.code===0){
                    $.ajax({
                        url: "{{config.url.api}}/Useryunbook/Add/",
                        type:'post',
                        data: {
                            title: title,
                            key: '{{key}}',
                            width:data.file_width,
                            height:data.file_height,
                            token: '{{token}}',
                            remark: remark,
                            zoomnum: data.zoom_num,
                            zoom:4,
                            size:data.file_size,
                            point: "POINT(43.61221676817571 33.7060546875)",
                            coverpath:"{{config.url.domain}}cover/"+data.cover_path,
                            uri:'{{config.url.domain}}yunbook/'+ data.file_path
                        }
                    }).done(function(data){
                        if(data.code==0){
                            alert('新建成功！');
                        }else {
                            alert(data.msg === '' ? "新建失败！" : data.msg);
                        }
                    }).fail(function(){
                        alert('新建云板书失败！');
                    });
                }else{
                    alert(data.msg===''?"上传失败，请重新上传！":data.msg);
                }
            }).fail(function(){
                alert('文件上传超时！');
            });
            return false;
        });
    });
</script>
{% endblock %}