{% extends '../layout/header.html' %}
{% block css%}
<link rel="stylesheet" href="/css/lib/switchery.css">
<link rel="stylesheet" href="/css/lib/simplePagination.css">
<style>
    .sidebar.right {
        width: 20%;
        top: 0;
        right: 0;
        bottom: 0;
        background: grey;
    }
    .sidebar {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
        position: fixed;
        color: white;
        padding: 30px;
        text-align: center;
        margin-top:50px;
    }
</style>
{% endblock%}
{% block breadcrumbs %}
<li><a href="/index">首页</a></li>
<li><a href="/yunbook">云板书</a></li>
<li class="active">{{yunbook.title}}</li>
{% endblock %}

{% block body %}
<div class="row">
    <div id="tools">
        <ul>
            <li class="menu">移动</li>
            <li class="menu">标注</li>
            <li class="menu">涂鸦</li>
            <li class="menu">区域</li>
            <li class="menu">直线</li>
            <li class="menu">矩形</li>
            <li>
                <select id="color">
                    <option value="rgba(0,0,0,.5)">黑</option>
                    <option value="rgba(255, 0, 0, 0.5)">红</option>
                    <option value="rgba(0, 255, 0, 0.5)">绿</option>
                    <option value="rgba(0, 0, 255, 0.5)">蓝</option>
                </select>
            </li>
            <li>
                <select id="strokeWeight">
                    <option value="2">细</option>
                    <option value="8">中</option>
                    <option value="15">粗</option>
                    <option value="25">极粗</option>
                </select>
            </li>

        </ul>
    </div>
    <div id="map"></div>
</div>
{% if admin%}
<div class="sidebar right">
    <table class="table table-response">
        {% for user in users%}
        <tr>
            <td><input type="checkbox" class="js-switch" data-uid="{{user.uid}}"></td>
            <td>{{user.cname}}</td>
        </tr>
        {% endfor %}
    </table>
    <nav id="userPage"></nav>
</div>
<button id="sidebarB" class="btn-u margin-top-10">学生标注</button>
{%endif%}
<a href="/yunbook/showfull?yid={{yunbook.yid}}" target="_blank" class="btn-u pull-right margin-top-10">全屏显示</a>
{% endblock %}

{% block js %}
<script src="/js/lib/googlemap/mapapi.min.js"></script>
<script src="/js/lib/googlemap/drawing.js"></script>
<script src="/js/lib/googlemap/blitz-gmap-editor-ea7son.js"></script>
<script src="/js/lib/jquery.sidebar.min.js"></script>
<script src="/js/lib/switchery.min.js"></script>
<script src="/js/lib/jquery.simplePagination.js"></script>
<script id="usersTemplate" type="text/html">
    [each list as user]
    <tr>
        <td><input type="checkbox" class="js-switch" data-uid="[user.uid]"></td>
        <td>[user.cname]</td>
    </tr>
    [/each]
</script>
<script>
    $(document).ready(function () {
        var lat = parseFloat('{{lat}}'), lng = parseFloat('{{lng}}'), map,pencil,api='{{api}}',
                tmapData = replaceAll('{{tmapData}}','&quot;', '"'),key='{{key}}',token='{{token}}'
                ,lid='{{lid}}',cid='{{cid}}',count=parseInt('{{count}}');
        $('#map').attr('style', 'height:' + 0.67 * window.screen.availHeight + "px");
        '{% if admin %}'
        var $sidebar = $('.sidebar');
        $sidebar.sidebar({side:'right'});
        $('#sidebarB').on('click',function(){
           $sidebar.trigger("sidebar:toggle");
        });
        '{% if count>0 %}'
        var items = Math.ceil(count/9);
        var $userPage = $('#userPage');
        initSwitcher();
        $userPage.pagination({
            items:items,
            listStyle:"pagination",
            onPageClick:function(page){
                getUserList(page,$userPage);
            }
        });
        function getUserList(page,object){
            $.ajax({
                url:api+'lessonUserYunbook/list',
                data:{
                    limit:9,
                    offset:page,
                    cid:cid,
                    key:key,
                    token:encodeURIComponent(token)
                }
            }).done(function(data){
                if(data.code === 0){
                    object.html(template('usersTemplate',data));
                    initSwitcher();
                }
            }).fail(function(){
                swal('获取标注失败!','','error');
            })
        }
        function initSwitcher() {
            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
            elems.forEach(function (html) {
                var switchery = new Switchery(html, {size: 'small'});
                switchery.setPosition(true);
                html.onchange = function () {
                    var uid = html.getAttribute('data-uid');
                    if (html.checked) {
                        $.ajax({
                            url: api + 'lessonUserYunbook/get',
                            data: {
                                key: key,
                                token: encodeURIComponent(token),
                                uid: uid,
                                cid: cid
                            }
                        }).done(function (data) {
                            if (data.code === 0) {
                                BlitzMap.setMapData(map, false, replaceAll(data.get.remark, '&quot;', '"'));
                            }
                        }).fail(function () {
                            swal('获取标注失败', '', 'error');
                            switchery.setPosition();
                        })
                    } else {
                        BlitzMap.map(function (element) {
                            if (element.uid == uid) {
                                element.setMap(null);
                                BlitzMap.remove(element);
                            }
                        });
                    }
                }
            });
        }
        '{% endif %}'
        '{% endif %}'
        function replaceAll(str, a, b) {
            while (str.indexOf(a) > -1) {
                str = str.replace(a, b);
            }
            return str;
        }
        initMap();
        BlitzMap.setMapData(map,false,tmapData);
        setTimeout("$('.gmnoprint').eq(2).hide();", 500);
        '{% if uid!=0 %}'
        var smapData = replaceAll('{{smapData}}','&quot;', '"');
        BlitzMap.setMapData(map,false,smapData);
        '{% endif %}'
        initTools();
        function initTools(){
            var tooles = $('#tools');
            tooles.find('li').eq(0).addClass('green');
            tooles.find('.menu').click(function() {
                pencil = 0;
                if ($(this).html() == '涂鸦') {
                    map.setOptions({
                        draggable:false
                    });
                    $('.gmnoprint:last').children('div:eq(0)').find('div').click();
                    pencil = 1;
                } else if ($(this).html() == '移动') {
                    map.setOptions({
                        draggable:true
                    });
                    $('.gmnoprint:last').children('div:eq(0)').find('div').click();
                } else if ($(this).html() == '标注') {
                    $('.gmnoprint:last').children('div:eq(1)').find('div').click();
                }else if ($(this).html() == '区域') {
                    map.setOptions({
                        draggable:false
                    });
                    $('.gmnoprint:last').children('div:eq(0)').find('div').click();
                    pencil = 2;
                } else if ($(this).html() == '直线') {
                    $('.gmnoprint:last').children('div:eq(3)').find('div').click();
                } else if ($(this).html() == '矩形') {
                    $('.gmnoprint:last').children('div:eq(4)').find('div').click();
                } else {
                    return;
                }
                tooles.find('li').removeClass('green');
                $(this).addClass('green');
            });
        }
        function initMap() {
            var mapOptions = {
                center: {lat: lat, lng: lng},
                zoom: 3,
                streetViewControl: false,
                mapTypeControlOptions: {
                    mapTypeIds: ['moon']
                }
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            var moonMapType = new google.maps.ImageMapType({
                getTileUrl: function (coord, zoom) {
                    return '{{yunbook.uri}}' + zoom + '/' + coord.x + '/' + coord.y + '.png';
                },
                tileSize: new google.maps.Size(256, 256),
                maxZoom: parseInt('{{yunbook.zoomnum}}', 10),
                minZoom:3,
                radius: 1738000,
                name: '云板书'
            });

            map.mapTypes.set('moon', moonMapType);
            map.setMapTypeId('moon');

            var drawingManager = new google.maps.drawing.DrawingManager({
                //drawingMode: google.maps.drawing.OverlayType.MARKER,
                drawingControl: true,
                drawingControlOptions: {
                    position: google.maps.ControlPosition.BOTTOM_LEFT,
                    drawingModes: [
                        google.maps.drawing.OverlayType.MARKER,
//                        google.maps.drawing.OverlayType.CIRCLE,
                        google.maps.drawing.OverlayType.POLYGON,
                        google.maps.drawing.OverlayType.POLYLINE,
                        google.maps.drawing.OverlayType.RECTANGLE
                    ]
                },
                markerOptions: {icon: '/js/lib/googlemap/markers2/marker_sprite.png'},
                circleOptions: {
                    fillColor: '#ffff00',
                    fillOpacity: 1,
                    strokeWeight: 5,
                    clickable: false,
                    editable: true,
                    zIndex: 1
                }
            });
            drawingManager.setMap(map);
            setTimeout("$('.gmnoprint:last').hide();", 500);
            $('#color').change(function() {
                changeDraw()
            });
            $('#strokeWeight').change(function() {
                changeDraw()
            });
            function changeDraw() {
                var $color = $('#color').val(),$strokeWeight = $('#strokeWeight').val();
                drawingManager.setOptions({
                    polylineOptions: {
                        strokeColor: $color,
                        fillColor: $color,
                        strokeWeight: $strokeWeight,
                        clickable: false,
                        editable: false
                    },
                    rectangleOptions: {
                        strokeColor: $color,
                        fillColor: $color,
                        strokeWeight: $strokeWeight,
                        clickable: false,
                        editable: false
                    }
                });
            }
            google.maps.event.addDomListener(map.getDiv(), 'mousedown', function (e) {
                if (e.button != 0 || pencil == 0) {
                    return false;
                }
                var $color = $('#color').val();
                var poly = new google.maps.Polyline({
                    map:map,
                    editable: false,
                    draggable: false,
                    clickable: false,
                    fillColor: $color,
                    strokeColor: $color,
                    strokeWeight: $('#strokeWeight').val()
                });
                poly.setMap(map);

                var move = google.maps.event.addListener(map, 'mousemove', function (e) {
                    poly.getPath().push(e.latLng);
                });
                //mouseup-listener
                google.maps.event.addListenerOnce(map, 'mouseup', function (e) {//addListenerOnce
                    google.maps.event.removeListener(move);
                    if (pencil == 2) {
                        var $color = $('#color').val();
                        var path = poly.getPath();
                        poly = new google.maps.Polygon({
                            map: map,
                            path: path,
                            strokeColor: $color,
                            fillColor: $color,
                            strokeWeight: $('#strokeWeight').val()
                        });
                        poly.setMap(map);
                    }
                });

            });
        }
    });
</script>
{% endblock %}