{% extends '../layout/header.html' %}

{%block css%}
<link rel="stylesheet" href="/css/lib/summernote.css">
<link rel="stylesheet" href="/css/lib/ply.css">
{%endblock%}

{% block breadcrumbs %}
<li><a href="/index">首页</a></li>
<li><a href="/yunbook">云板书</a></li>
<li class="active">添加标注</li>
{% endblock %}

{%block body%}
    <div hidden="hidden">
        <div class="summernote"></div>
        <div class="button-group">
            <button id="cancel" class="btn-u btn-u-default">取消</button>
            <button id="submit" class="btn-u">提交</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <a href="#collapse-group" data-toggle="collapse" class="accordion-toggle">批注分组</a>
            </div>
        </div>
        <div id="collapse-group" class="panel-collapse collapse">
            <div class="panel-body">
                <div id="multi" class="row margin-bottom-20">
                    <div class="tile col-sm-3">
                        <div class="tile__name">掌握</div>
                        <ul id="group1" class="tile__list">

                        </ul>
                    </div>

                    <div class="tile col-sm-3">
                        <div class="tile__name">熟悉</div>
                        <ul id="group2" class="tile__list">

                        </ul>
                    </div>

                    <div class="tile col-sm-3">
                        <div class="tile__name">扩展知识</div>
                        <ul id="group3" class="tile__list">

                        </ul>
                    </div>
                    <div class="tile col-sm-3">
                        <div class="tile__name">未分组</div>
                        <ul id="group4" class="tile__list">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="tools">
    <ul>
        <li class="menu">移动</li>
        <li class="menu">标注</li>
        <li class="menu">涂鸦</li>
        <li class="menu">区域</li>
        <li>
            <select id="color">
                <option value="rgba(0,0,0,.5)">黑</option>
                <option value="rgba(255, 0, 0, 0.5)" selected>红</option>
                <option value="rgba(0, 255, 0, 0.5)">绿</option>
                <option value="rgba(0, 0, 255, 0.5)">蓝</option>
            </select>
        </li>
        <li>
            <select id="strokeWeight">
                <option value="2">细</option>
                <option value="8" selected>中</option>
                <option value="15">粗</option>
                <option value="25">极粗</option>
            </select>
        </li>

    </ul>
</div>
<div id="map"></div>
<a href="/yunbook/showfull?yid={{yunbook.yid}}&id={{id}}" target="_blank" class="btn-u margin-top-10">全屏显示</a>
<button id="save" class="pull-right btn-u margin-top-10">保存更改</button>
{%endblock%}

{%block js%}
<script src="/js/lib/googlemap/mapapi.min.js"></script>
<script src="/js/lib/googlemap/drawing.js"></script>
<script src="/js/lib/googlemap/blitz-gmap-editor-ea7son.js"></script>
<script src="/js/lib/summernote.js"></script>
<script src="/js/lib/summernote-zh-CN.js"></script>
<script src="/js/lib/Sortable.min.js"></script>
<script src="/js/lib/Ply.min.js"></script>
<script>
    $(document).ready(function () {
        var lat = parseFloat('{{lat}}'), lng = parseFloat('{{lng}}'), map
                , key = '{{key}}', token = "{{token}}", $summernote = $('.summernote')
                , $cancel = $('#cancel'), $submit = $('#submit'), container = document.getElementById('multi'),
                mapData = replaceAll(decodeURIComponent('{{mapData}}'), '&quot;', '"'),
                tmapData = replaceAll(decodeURIComponent('{{tmapData}}'),'&quot;', '"'),
                pencil = 0,
                PlyOption = {
                    title: "给批注取个名字",
                    form: {text: "批注名称"},
                    ok: '确认',
                    cancel: '取消'
                };

        function replaceAll(str, a, b) {
            while (str.indexOf(a) > -1) {
                str = str.replace(a, b);
            }
            return str;
        }

        $('#map').attr('style', 'height:' + 0.68 * window.screen.availHeight + "px");
        initMap();
        BlitzMap.setMapData(map,false,tmapData);
        BlitzMap.setMapData(map, false, mapData);
        initSortable();
//        initSummernote();
        initTools();
        function initTools() {
            $('.menu').eq(0).addClass('green');
            $('#tools').find('.menu').click(function () {
                pencil = 0;
                if ($(this).html() == '涂鸦') {
                    map.setOptions({
                        draggable: false
                    });
                    $('.gmnoprint').eq(2).children('div:eq(0)').find('div').click();
                    pencil = 1;
                } else if ($(this).html() == '移动') {
                    map.setOptions({
                        draggable: true
                    });
                    $('.gmnoprint').eq(2).children('div:eq(0)').find('div').click();
                } else if ($(this).html() == '标注') {
                    $('.gmnoprint').eq(2).children('div:eq(1)').find('div').click();
                } else if ($(this).html() == '区域') {
                    map.setOptions({
                        draggable: false
                    });
                    $('.gmnoprint').eq(2).children('div:eq(0)').find('div').click();
                    pencil = 2;
                } else {
                    return;
                }
                $('#tools').find('li').removeClass('green');
                $(this).addClass('green');
            });
        }

        $('#save').on('click', function () {
            var remark =  BlitzMap.toJSONString(key);
            $.ajax({
                url: '{{url}}',
                type: 'post',
                data: {
                    id: '{{xid}}',
                    remark: remark,
                    cid:'{{cid}}',
                    yid:'{{yid}}',
                    key: key,
                    token: token
                }
            }).done(function (data) {
                if (data.code === 0) {
                    swal('保存成功！','','success');
                } else {
                    swal('保存失败！',data.msg,'error');
                }
            }).fail(function () {
                swal('保存失败，请稍后重试！','','error');
            });
        });
        function initMap() {
            var mapOptions = {
                center: {lat: lat, lng: lng},
                zoom: 3,
                streetViewControl: false,
                mapTypeControlOptions: {
                    mapTypeIds: ['moon']
                }
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            var moonMapType = new google.maps.ImageMapType({
                getTileUrl: function (coord, zoom) {
                    return '{{yunbook.uri}}' + zoom + '/' + coord.x + '/' + coord.y + '.png';
                },
                tileSize: new google.maps.Size(256, 256),
                maxZoom: parseInt('{{yunbook.zoomnum}}', 10),
                minZoom: 3,
                radius: 1738000,
                name: '云板书'
            });

            map.mapTypes.set('moon', moonMapType);
            map.setMapTypeId('moon');
            var drawingManager = new google.maps.drawing.DrawingManager({
                //drawingMode: google.maps.drawing.OverlayType.MARKER,
                drawingControl: true,
                drawingControlOptions: {
                    position: google.maps.ControlPosition.BOTTOM_LEFT,
                    drawingModes: [
                        google.maps.drawing.OverlayType.MARKER,
//                        google.maps.drawing.OverlayType.CIRCLE,
                        google.maps.drawing.OverlayType.POLYGON
//                        google.maps.drawing.OverlayType.POLYLINE,
//                        google.maps.drawing.OverlayType.RECTANGLE
                    ]
                },
                markerOptions: {icon: '/js/lib/googlemap/markers2/marker_sprite.png'},
                circleOptions: {
                    fillColor: '#ffff00',
                    fillOpacity: 1,
                    strokeWeight: 5,
                    clickable: false,
                    editable: true,
                    zIndex: 1
                }
            });
            drawingManager.setMap(map);
            setTimeout("$('.gmnoprint').eq(2).hide();", 500);
            setTimeout("$('.gmnoprint').eq(2).hide();", 1000);
            $('#color').change(function () {
                changeDraw()
            });
            $('#strokeWeight').change(function () {
                changeDraw()
            });
            function changeDraw() {
                var $color = $('#color').val(), $strokeWeight = $('#strokeWeight').val();
                drawingManager.setOptions({
                    polylineOptions: {
                        strokeColor: $color,
                        fillColor: $color,
                        strokeWeight: $strokeWeight,
                        clickable: false,
                        editable: false
                    }
                });
            }

            google.maps.event.addDomListener(map.getDiv(), 'mousedown', function (e) {
                //do it with the right mouse-button only
                if (e.button != 0 || pencil == 0) {
                    return false;
                }
                var $color = $('#color').val();
                var poly = new google.maps.Polyline({
                    map: map,
                    editable: false,
                    draggable: false,
                    clickable: false,
                    fillColor: $color,
                    strokeColor: $color,
                    strokeWeight: $('#strokeWeight').val()
                });
                poly.setMap(map);

                var move = google.maps.event.addListener(map, 'mousemove', function (e) {
                    poly.getPath().push(e.latLng);
                });
                google.maps.event.addListenerOnce(map, 'mouseup', function (e) {//addListenerOnce
                    google.maps.event.removeListener(move);
                    Ply.dialog("prompt", PlyOption).done(function (obj) {
                        poly.type = 'polyline';
                        if (pencil == 2) {
                            var $color = $('#color').val();
                            var path = poly.getPath();
                            poly = new google.maps.Polygon({
                                map: map,
                                path: path,
                                strokeColor: $color,
                                fillColor: $color,
                                strokeWeight: $('#strokeWeight').val()
                            });
                            poly.type = 'polygon';
                        }
                        poly.uid = key;
                        poly.id = BlitzMap.getUniqueId();
                        poly.title = obj.data.text;
                        poly.setMap(map);
                        BlitzMap.push(poly);
                        $('#group4').append('<li id="' + poly.id + '">' + poly.title + '<i class="fa fa-times"></i></li>');
                    }).fail(function () {
                        poly.setMap(null);
                    });

                });
            });
            // 监听drawing事件
            google.maps.event.addListener(drawingManager, 'overlaycomplete', function (event) {
                event.overlay.uid = key;
                event.overlay.type = event.type;
                if (event.type === "marker") {
                    marker = event.overlay;
                    $summernote.summernote('destroy');
                    initSummernote();
                    $summernote.parent().show();
                    $submit.unbind('click');
                    $submit.on('click', function () {
                        $summernote.parent().hide();
                        var contentString = encodeURIComponent($summernote.summernote('code'));
                        if (contentString != '') {
                            var infoWindow = new google.maps.InfoWindow({
                                content: contentString
                            });
                            event.overlay.addListener('click', function () {
                                infoWindow.open(map, event.overlay);
                            });
                        }
                        Ply.dialog("prompt",PlyOption).done(function (obj) {
                            event.overlay.title = obj.data.text;
                            event.overlay.content = contentString;
                            event.overlay.id = BlitzMap.getUniqueId();
                            BlitzMap.push(event.overlay);
                            $('#group4').append('<li id="' + event.overlay.id + '">' + event.overlay.title + '<i class="fa fa-times"></i></li>');
                        }).fail(function(){
                            event.overlay.setMap(null);
                        });
                    });
                    $cancel.unbind('click');
                    $cancel.on('click', function () {
                        $summernote.parent().hide();
                        event.overlay.setMap(null);
                    });
                    return;
                }
                Ply.dialog("prompt", PlyOption).done(function (obj) {
                    event.overlay.title = obj.data.text;
                    event.overlay.id = BlitzMap.getUniqueId();
                    BlitzMap.push(event.overlay);
                    $('#group4').append('<li id="' + event.overlay.id + '">' + event.overlay.title + '<i class="fa fa-times"></i></li>');
                }).fail(function () {
                    event.overlay.setMap(null);
                });
            });
        }

        function initSortable() {
            var $group4 = $('#group4'),
                    $group3 = $('#group3'), $group2 = $('#group2'),
                    $group1 = $('#group1');
            BlitzMap.map(function (element) {
                if (element.group === '未分组') {
                    $group4.append('<li id="' + element.id + '">' + element.title + '<i class="fa fa-times"></i></li>');
                } else if (element.group === '扩展知识') {
                    $group3.append('<li id="' + element.id + '">' + element.title + '<i class="fa fa-times"></i></li>');
                } else if (element.group === '熟悉') {
                    $group2.append('<li id="' + element.id + '">' + element.title + '<i class="fa fa-times"></i>');
                } else if (element.group === '掌握') {
                    $group1.append('<li id="' + element.id + '">' + element.title + '<i class="fa fa-times"></i></li>');
                }
            });

            Sortable.create(container, {
                animation: 150,
                draggable: '.tile',
                handle: '.tile__name'
            });

            [].forEach.call(container.getElementsByClassName('tile__list'), function (el) {
                Sortable.create(el, {
                    group: 'group',
                    animation: 150,
                    filter: '.fa-times',
                    onFilter: function (event) {
                        var id = event.item.id;
                        var overlay = BlitzMap.find(function (element) {
                            if (element.id == id) {
                                return true;
                            }
                        });
                        if (BlitzMap.remove(overlay)) {
                            event.item.parentNode.removeChild(event.item);
                        } else {
                            alert('删除失败!');
                        }
                    },
                    onRemove: function (event) {
                        var id = event.item.id;
                        var group = event.item.parentNode.parentNode.firstChild.nextSibling.innerHTML;
                        console.log(event.item.parentNode.parentNode.firstChild.nextSibling.innerHTML);
                        var overlay = BlitzMap.find(function (element) {
                            if (element.id == id) {
                                return true;
                            }
                        });
                        if (overlay) {
                            var temp = overlay;
                            temp.group = group;
                            BlitzMap.update(overlay, temp);
                        } else {
                            alert('更新失败!');
                        }
                    }

                });
            });

        }

        function initSummernote() {
            $summernote.summernote({
                focus: true,
                height: 300,
                lang: 'zh-CN'
            });
        }
    });
</script>
{%endblock%}