{% extends '../layout/user_sidebar.html' %}
{% block css %}
<link rel="stylesheet" href="/css/lib/sky-forms.css">
<link rel="stylesheet" href="/css/lib/custom-sky-forms.css">
{% endblock%}
{% block breadcrumbs%}
<li><a href="/index">首页</a></li>
<li class="active">{{title}}</li>
{% endblock %}
{% block content%}
<form class="sky-form">
    <header>新增文件</header>
    <fieldset>
        <section>
            <label class="label" for="title">文件标题</label>
            <label class="input">
                <input type="text" required="required" id="title">
            </label>
        </section>
        <section>
            <label class="label">文件</label>
            <label for="file" class="input input-file">
                <div class="button">
                    <input type="file" id="file" required="required"
                           onchange="this.parentNode.nextElementSibling.value = this.value">选择文件
                </div>
                <input id="path" type="text" readonly>
            </label>
        </section>
        <section>
            <label class="label">文件备注</label>
            <label class="textarea">
                <textarea id="remark" rows="3"></textarea>
            </label>
        </section>
    </fieldset>
    <footer>
        <button type="submit" class="btn-u">提交</button>
        <button type="button" class="btn-u btn-u-default"
                onclick="document.getElementsByTagName('form')[0].reset();">重填</button>
    </footer>
</form>
{% endblock%}
{% block js %}
<script type="text/javascript" src="/js/lib/jquery.blockUI.min.js"></script>
<script>
    $(document).ready(function () {
        var $fileCollapse = $('#collapse-file');
        $fileCollapse.addClass('in');
        $fileCollapse.find('li').eq(1).addClass('active');
        $('form').submit(function(e){
            e.preventDefault();
            var title=$('#title').val(),
                    remark=$('#remark').val(),
                    file=$('#file').get(0).files[0];
            $('form').block({message:'<i class="fa fa-spinner fa-pulse fa-5x center"></i>'});
            var formData=new FormData();
            formData.append('uploadfile',file);
            $.ajax({
                url:'{{config.url.upload}}/file',
                data:formData,
                type:'POST',
                contentType: false,
                processData: false,
                timeout:300000 //5min
                ,dataType:'json'
            }).done(function(data){
                //1:图片,2:视频,3:云板书,4:文档
                var type = 0;
                if(data.code===0){
                    if(data.file_ext !== undefined){
                        var ext = data.file_ext.toUpperCase();
                        if(['BMP','GIF','JPEG','PNG'].indexOf(ext) > 0){
                            type = 1;
                        }else if(['MPG','MPEG','AVI','RM','RMVB','MOV','WMV','DAT'].indexOf(ext)){
                            type = 2
                        }else if(['TXT','DOC','DOCX'].indexOf(ext)){
                            type = 4;
                        }
                        if(type === 0){
                            toastr.error('请上传图片视频或者文档!');
                            return false;
                        }
                    }else{
                        toastr.error('上传失败,请稍后再试!');
                        return false;
                    }
                    $.ajax({
                        url: "{{config.url.api}}Userfile/Add/",
                        type:'post',
                        data: {
                            aid:
                            uid:'{{key}}',
                            title: title,
                            key: '{{key}}',
                            token: '{{token}}',
                            remark: remark,
                            type:type,
                            ext:data.file_ext,
                            size:data.file_size,
                            coverpath:"",
                            uri:'{{config.url.domain}}file/'+ data.file_path+data.file_name
                        },dataType:'json'
                    }).done(function(data){
                        if(data.code==0){
                            toastr.success('新建成功！');
                        }else {
                            toastr.error(data.msg === '' ? "新建失败！" : data.msg);
                        }
                    }).fail(function(){
                        toastr.error('上传文件失败！');
                    });
                }else{
                    toastr.error(data.msg===''?"上传失败，请重新上传！":data.msg);
                }
            }).fail(function(){
                toastr.error('文件上传超时！');
            }).always(function(){
                $('form').unblock();
            });
            return false;
        });
    });
</script>
{% endblock %}