{% extends '../layout/user_sidebar.html' %}
{% block css %}
<link rel="stylesheet" href="/css/lib/sky-forms.css">
<link rel="stylesheet" href="/css/lib/custom-sky-forms.css">
{% endblock%}
{% block breadcrumbs%}
<li><a href="/index">首页</a></li>
<li class="active">{{title}}</li>
{% endblock %}
{% block content%}
<form class="sky-form">
    <header>新增文件</header>
    <fieldset>
        <section>
            <label class="label" for="title">文件标题</label>
            <label class="input">
                <input type="text" required="required" id="title">
            </label>
        </section>
        <section>
            <label class="label">文件</label>
            <label for="file" class="input input-file">
                <div class="button">
                    <input type="file" id="file" required="required"
                           onchange="this.parentNode.nextElementSibling.value = this.value">选择文件
                </div>
                <input id="path" type="text" readonly>
            </label>
        </section>
        <section>
            <label class="label">文件备注</label>
            <label class="textarea">
                <textarea id="remark" rows="3"></textarea>
            </label>
        </section>
    </fieldset>
    <footer>
        <button type="submit" class="btn-u">提交</button>
        <button type="button" class="btn-u btn-u-default"
                onclick="document.getElementsByTagName('form')[0].reset();">重填</button>
    </footer>
</form>
{% endblock%}
{% block js %}
<script>
    $(document).ready(function () {
        var $fileCollapse = $('#collapse-file');
        $fileCollapse.addClass('in');
        $fileCollapse.find('li').eq(1).addClass('active');
        $('form').submit(function(e){
            e.preventDefault();
            var title=$('#title').val(),
                    remark=$('#remark').val(),
                    file=$('#file').get(0).files[0];

            var formData=new FormData();
            formData.append('uploadfile',file);
            $.ajax({
                url:'{{config.url.upload}}/file',
                data:formData,
                type:'POST',
                contentType: false,
                processData: false,
                timeout:300000 //5min
            }).done(function(data){
                if(data.code===0){
                    $.ajax({
                        url: "{{config.url.api}}Userfile/Add/",
                        data: {
                            title: title,
                            key: '{{key}}',
                            token: '{{token}}',
                            remark: remark,
                            zoom:4,
                            ext:data.file_ext,
                            size:data.file_size,
                            point: "POINT(0 0)",
                            coverpath:"fa-file",
                            uri:'{{config.url.domain}}file/'+ data.file_path+data.file_name+data.file_ext
                        }
                    }).done(function(data){
                        if(data.code==0){
                            alert('新建成功！');
                        }else {
                            alert(data.msg === '' ? "新建失败！" : data.msg);
                        }
                    }).fail(function(){
                        alert('上传文件失败！');
                    });
                }else{
                    alert(data.msg===''?"上传失败，请重新上传！":data.msg);
                }
            }).fail(function(){
                alert('文件上传超时！');
            });
            return false;
        });
    });
</script>
{% endblock %}