{% extends '../layout/header.html' %}
{% block css %}
<link rel="stylesheet" href="/css/lib/jquery.steps.css">
<link rel="stylesheet" href="/css/lib/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/css/lib/sky-forms.css">
<link rel="stylesheet" href="/css/lib/custom-sky-forms.css">
<link rel="stylesheet" href="/css/lib/jqpagination.css">
{% endblock %}
{% block breadcrumbs %}
<li><a href="/index">首页</a></li>
<li><a href="/group/show?oid={{group.oid}}">{{group.title}}</a></li>
<li class="active">{{title}}</li>
{% endblock %}
{% block body %}
<div class="text-center">
    <span style="color: red" id="error" hidden></span>
</div>
<div id="wizard">
    <h1>第一步</h1>
    <div class="step-content text-center">
        <form class="sky-form">
            <header>填写课程基本信息</header>
            <fieldset>
                <section>
                    <label class="label" for="title">课程标题</label>
                    <label class="input">
                        <input type="text" required="required" id="title">
                    </label>
                </section>
                <section>
                    <label class="label">课程封面</label>
                    <label for="file" class="input input-file">
                        <div class="button">
                            <input type="file" id="file" required="required"
                                   onchange="this.parentNode.nextElementSibling.value = this.value">选择文件
                        </div>
                        <input id="path" type="text" readonly>
                    </label>
                </section>
                <section>
                    <label class="label" for="remark">课程摘要</label>
                    <label class="textarea">
                        <textarea rows="3" id="remark"></textarea>
                    </label>
                </section>
                <div class="row">
                    <section class="col col-6">
                        <label class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            <input class="ui-datepicker" type="text" id="start" placeholder="开始时间">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            <input class="ui-datepicker"
                                   type="text" id="end" placeholder="结束时间">
                        </label>
                    </section>
                </div>
            </fieldset>
        </form>
    </div>

    <h1>第二步</h1>
    <div class="step-content">
            <span class="color-red" hidden id="err"></span>
            <span id="message" class="color-green" hidden></span>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <tbody id="teachers"></tbody>
                </table>
            </div>
            <div class="pagination" id="tp">
                <a href="#" class="first" data-action="first">&laquo;</a>
                <a href="#" class="previous" data-action="previous">&lsaquo;</a>
                <input title="" type="text" readonly="readonly"/>
                <a href="#" class="next" data-action="next">&rsaquo;</a>
                <a href="#" class="last" data-action="last">&raquo;</a>
            </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/js/lib/jquery.steps.min.js"></script>
<script src="/js/lib/bootstrap-datetimepicker.min.js"></script>
<script src="/js/lib/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/js/lib/template.js"></script>
<script src="/js/lib/jquery.jqpagination.js"></script>
<script type="text/html" id="teacherTemplate">
    [each list as user]
    <tr>
        <td><input type="radio" name="toAdd" value="[user.uid]"></td>
        <td> [user.username]</td>
    </tr>
    [/each]
</script>
<script>
    $(document).ready(function () {
        var count = getTeacherCounts(),$teachers =$('#teachers'),limit=9;
        template.config('openTag','[');
        template.config('closeTag',']');
        function getFileExt(name){
            return name.substring(name.lastIndexOf('.'),name.length).toUpperCase();
        }
        function getTeacherCounts(){
            var count = 0;
            $.ajax({
                url: '{{config.url.api}}userinfo/info',
                async: false
            }).done(function (data) {
                if (data.code === 0) {
                    count = data.info.Count;
                } else {
                    alert(data.msg === '' ? '获取用户数量出错!' : data.msg);
                }
            }).fail(function () {
                alert('获取用户数量超时！');
            });
            return count;
        }
        function getTeachers(limit,offset){
            $.ajax({
                url: '{{config.url.api}}userinfo/list',
                data: {
                    offset: offset,
                    limit: limit
                }
            }).done(function (data) {
                if (data.code === 0) {
                    $('#teachers').html(template('teacherTemplate', data));
                } else {
                    alert(data.msg === '' ? '获取用户失败!' : data.msg);
                }
            }).fail(function () {
                alert('获取用户超时!');
            });
        }
        $("#wizard").steps({
            enableCancelButton: false,
            labels: {
                previous: '上一步',
                next: '下一步',
                finish: '完成'
            },
            onFinishing: function () {
                var title = $('#title'),
                        remark = $('#remark').val(),
                        teacherID = $(':radio:checked').eq(0).val(),
                        file = $('#file'),
                        start=$('#start'),end=$('#end'),err=$('#error');
                if (title.val() === '') {
                    err.html('请填写标题').show().fadeOut(5000);
                    title.focus();
                    return false;
                }
                if (typeof file === 'undefined') {
                    err.html('请选择封面').show().fadeOut(5000);
                    file.focus();
                    return false;
                }
                var ext = getFileExt(file.get(0).files[0].name);
                if(ext!=='.JPG'&&ext!=='.PNG'&&ext!=='.JPEG'&&ext!=='.GIF'){
                    err.html('请选择图片上传').show().fadeOut(5000);
                    file.focus();
                    return false;
                }
                if (file.get(0).files[0].size>4194304){
                    err.html('请选择小于4M的封面').show().fadeOut(5000);
                    file.focus();
                    return false;
                }
                if (start.val() === ''){
                    err.html("请选择时间").show().fadeOut(5000);
                    start.focus();
                    return false;
                }
                if (end.val() === ''){
                    err.html("请选择时间").show().fadeOut(5000);
                    end.focus();
                    return false;
                }
                if (teacherID === '') {
                    err.html("请选择主讲教师").show().fadeOut(5000);
                    return false;
                }
                var formData = new FormData();
                formData.append('uploadfile', file.get(0).files[0]);
                $.ajax({
                    url: '{{config.url.upload}}/file',
                    data: formData,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    timeout: 300000 //5min
                }).done(function (data) {
                    if (data.code === 0) {
                        $.ajax({
                            url: '{{config.url.api}}/Lesson/Add/',
                            data: {
                                key: '{{key}}',
                                token: '{{token}}',
                                title: title.val(),
                                remark: remark,
                                uid: teacherID,
                                coverpath: '{{config.url.domain}}/cover/' + data.cover_path,
                                starttime:encodeURIComponent(start.val()),
                                endtime:encodeURIComponent(end.val()),
                                zoom:4,
                                point:"POINT(0 0)",
                                oid:'{{group.oid}}'
                            }
                        }).done(function (data) {
                            if (data.code == 0) {
                                alert('新建成功！');
                            } else {
                                alert(data.msg === '' ? "新建失败！" : data.msg);
                            }
                        }).fail(function () {
                            alert('新建课程失败！');
                        });
                    } else {
                        alert(data.msg === '' ? "上传失败，请重新上传！" : data.msg);
                    }
                }).fail(function () {
                    alert('文件上传超时！');
                });
                return true;
            }
        });
        getTeachers(limit,1);
        $('#tp').jqPagination({
            max_page: Math.ceil(count / limit),
            page_string: '第{current_page}页,共{max_page}页',
            paged: function (page) {
                getTeachers(limit, page);
            }
        });
        $('.ui-datepicker').datetimepicker({
            language: 'zh-CN',
            format: 'yyyy-mm-dd hh:ii:ss',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            pickerPosition:"top-left"
        });
    });
</script>
{% endblock %}