{% extends '../layout/header.html'%}
{% block css%}
  <link rel="stylesheet" href="/css/lib/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="/css/lib/sky-forms.css">
  <link rel="stylesheet" href="/css/lib/custom-sky-forms.css">
  <link rel="stylesheet" href="/css/lib/simplePagination.css">
  <link rel="stylesheet" href="/css/lib/table_search.css">
{% endblock %}
{% block breadcrumbs %}
<li>
  <a href="/index">首页</a>
</li>
<li>
  <a href="/lesson/{{lesson.lid}}">{{lesson.names}}</a>
</li>
<li class="active">编辑{{lesson.names}}</li>
{% endblock %}
{% block body %}
<div class="row">
  <div class="col-sm-3">
    <ul class="list-group sidebar-nav-v1" id="siderbar">
      {%if admin > 1%}
      <li class="list-group-item list-toggle active">
        <a href="#collapse-lesson" class="accordion-toggle" data-toggle="collapse">
          <i class="fa fa-graduation-cap"></i>&nbsp;课程管理</a>
        <ul class="collapse in" id="collapse-lesson">
          <li class="active">
            <a href="#editInfo" data-toggle="tab" data-parent="#siderbar">
              修改信息
            </a>
          </li>
          <li>
            <a href="#cover" data-toggle="tab">更改封面</a>
          </li>
        </ul>

      </li>

      <li class="list-group-item list-toggle">
        <a href="#collapse-clazz" data-toggle="collapse" class="accordion-toggle">
          <i class="fa fa-building"></i>&nbsp;&nbsp;课堂管理
        </a>
        <ul class="collapse" id="collapse-clazz">
          <li>
            <a href="#addClass" data-toggle="tab">
              <i class="fa fa-plus"></i>&nbsp;添加课堂
            </a>
          </li>
          <li>
            <a href="#classList" data-toggle="tab">
              <i class="fa fa-building">&nbsp;课堂列表</i>
            </a>
          </li>
        </ul>

      </li>
      <li class="list-group-item list-toggle">
        <a class="accordion-toggle" data-target="#collapse-teacher" data-toggle="collapse">
          <i class="fa fa-users"></i>&nbsp;讲师管理
        </a>
        <ul class="collapse" id="collapse-teacher">
          <li>
            <a href="#addTeacher" data-toggle="tab">
              <i class="fa fa-plus"></i>
              添加老师</a>
          </li>
          <li>
            <a href="#delTeacher" data-toggle="tab">
              <i class="fa fa-minus"></i>
              删除老师</a>
          </li>
        </ul>
      </li>
      {%endif%}
      <li class="list-group-item list-toggle">
        <a class="accordion-toggle" data-target="#collapse-student" data-toggle="collapse">
          <i class="fa fa-child"></i>&nbsp;&nbsp;学生管理</a>
        <ul class="collapse" id="collapse-student">
          <li>
            <a href="#editStu" data-toggle="tab">&nbsp;学生管理
            </a>
          </li>
          <li><a href="#addStus" data-toggle="tab">&nbsp;导入学生</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-sm-9">
    <div class="tab-content">
      {% if admin > 1 %}
        <div id="editInfo" class="tab-pane fade in active">
          <form id="editInfoForm" class="sky-form">
            <fieldset>
              <section>
                <label class="label" for="title">名称</label>
                <label class="input">
                  <input type="text" required="required" value="{{lesson.names}}" id="lessonTitle">
                </label>
              </section>
              <div class="row">
                <section class="col col-6">
                  <label class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    <input class="ui-datepicker" required type="text" id="lessonStart" value="{{lesson.start_ms}}">
                  </label>
                </section>
                <section class="col col-6">
                  <label class="input">
                    <i class="icon-append fa fa-calendar"></i>
                    <input class="ui-datepicker" required type="text" id="lessonEnd" value="{{lesson.end_ms}}">
                  </label>
                </section>
              </div>
              <section>
                <label class="label" for="remark">简介</label>
                <label class="textarea">
                  <textarea rows="3" id="lessonRemark">{{lesson.descript}}</textarea>
                </label>
              </section>
            </fieldset>
            <footer>
              <button type="submit" class="btn-u pull-right">修改</button>
            </footer>
          </form>
        </div>
        <div id="cover" class="tab-pane fade in">
          <div class="row">
            <img src="{{lesson.cover_path}}1024_512.png" class="img-responsive center-block" id="image" alt="封面图片">
          </div>

          <div class="row margin-top-20">
            <div class="btn-group pull-right">
              <label title="Upload image file" for="inputImage" class="btn-u btn-lg btn-link">
                <input type="file" accept="image/*" name="file" id="inputImage" onchange="previewImage()" class="hide">
                上传新封面
              </label>
              <label id="submit" class="btn-u btn-lg btn-link">确认提交</label>
            </div>
          </div>
        </div>
        <div id="addClass" class="tab-pane fade in">
          <div class="row">
            <form id="addClassForm" class="sky-form">
              <header>新建课堂</header>
              <fieldset>
                <section>
                  <label for="title" class="label">课堂标题</label>
                  <label class="input">
                    <input type="text" id="title" required>
                  </label>
                </section>
                <section>
                  <label class="label">课程封面</label>
                  <label for="file" class="input input-file">
                    <div class="button">
                      <input type="file" id="file" required onchange="this.parentNode.nextElementSibling.value = this.value">选择文件
                    </div>
                    <input id="path" type="text" readonly>
                  </label>
                </section>
                <section>
                  <label for="remark" class="label">课堂备注</label>
                  <label class="textarea">
                    <textarea id="remark" rownum="3"></textarea>
                  </label>
                </section>
                <div class="row">
                  <section class="col col-6">
                    <label class="input">
                      <i class="icon-append fa fa-calendar"></i>
                      <input class="ui-datepicker" type="text" required id="start" placeholder="开始时间">
                    </label>
                  </section>
                  <section class="col col-6">
                    <label class="input">
                      <i class="icon-append fa fa-calendar"></i>
                      <input class="ui-datepicker" required type="text" id="end" placeholder="结束时间">
                    </label>
                  </section>
                </div>
              </fieldset>
              <footer>
                <span class="font-red" id="err"></span>
                <button type="submit" class="btn-u pull-right">提交</button>
              </footer>
            </form>
          </div>
        </div>
        <div id="classList" class="tab-pane fade in">
          <div class="row">
            <div id="classes"></div>
          </div>
          <nav id="classPage"></nav>
        </div>
        <div id="addTeacher" class="tab-pane fade in">
            <form class="sky-form">
                <fieldset>
                    <section>
                        <label for="mobile">讲师手机号码</label>
                        <label class="input">
                            <input type="text" id="mobile" value="">
                        </label>
                    </section>
                    <section>
                        <label for="names">讲师称呼</label>
                        <label class="input">
                            <input type="text" id="names" value="">
                        </label>
                    </section>
                </fieldset>
                <footer>
                    <button class="btn-u pull-right" id="addTeacherSubmit">添加</button>
                </footer>
            </form>
        </div>
        <div id="delTeacher" class="tab-pane fade in">
          <div class="row">
            <div id="ts"></div>
          </div>
          <nav id="delTeacherPage"></nav>
        </div>
      {% endif %}
      <div id="addStus" class="tab-pane fade in">
        <div class="row">
          <label title="xls" for="inputExcel" class="btn-u btn-lg btn-link">
            <input type="file" id="inputExcel" onchange="handleExcel()" class="hide">
            上传学生名单Excel(格式:学号,姓名,手机号)
          </label>
          <label id="excelSubmit" class="btn-u btn-lg btn-link">确认提交</label>
        </div>
        <div class="row margin-top-20">
          <table class="table table-bordered table-responsive">
            <tr>
              <th>学号</th><th>姓名</th><th>手机号码</th>
            </tr>
            <tbody id='previewExcel'></tbody>
          </table>
        </div>
      </div>
      <div id="editStu" class="tab-pane fade in">
        <div class="row search-block">
          <div class="col-md-6 col-md-offset-3">
            <h2>搜索课程学生</h2>
            <div class="input-group">
              <input id="search" type="text" class="form-control" placeholder="搜索学生姓名">
              <span class="input-group-btn">
                <button id="searchButton" class="btn-u" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <div class="inline-group">
                <label class="radio"><input type="radio" value='' name="type" checked>全部</label>
                <label class="radio"><input type="radio" value='2' name="type">校内生</label>
                <label class="radio"><input type="radio" value='1' name="type">校外生</label>
            </div>
          </div>
        </div>
        <div class="table-search-v2 panel panel-u">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-users"></i>
              搜索结果
            </h3>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <!-- <td>头像</td> -->
                  <td>用户ID</td>
                  <td>姓名</td>
                  <td>学号</td>
                  <td>学生状态</td>
                  <td>操作</td>
                </tr>
              </thead>
              <tbody id="stuList"></tbody>
            </table>
          </div>
        </div>
        <nav id="stuPage"></nav>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">修改学生信息</h4>
        </div>
        <div class="modal-body">
          <form>
              <div class="form-group">
                  <input type="text" hidden="hidden" id="id" value="">
                  <label for="sid">学号</label>
                  <input type="text" class="form-control" id='sid' value="">
              </div>
              <div class='form-group'>
                  <label for="name">姓名</label>
                  <input type="text" class="form-control" id="name" value="">
              </div>
              <div>
                  <label for="type">学生类型</label>
                  <select class="form-control" id="type">
                      <option value="1">校外生</option>
                      <option value="2">校内生</option>
                  </select>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="editLessonUser" class="btn-u">保存</button>
        </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script src="/js/lib/bootstrap-datetimepicker.min.js"></script>
<script src="/js/lib/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/js/lib/template.js"></script>
<script src="/js/lib/jquery.jqpagination.js"></script>
<script type="text/javascript" src="/js/lib/jquery.blockUI.min.js"></script>
<script src="/js/lib/jquery.simplePagination.js"></script>
<script type="text/javascript" src="/js/lib/xlsx.core.min.js"></script>
<script id="classTemplate" type="text/html">
  [each list as clazz]
  <div class="col-sm-4">
    <div class="file">
      <div class="img">
        <img src="[clazz.cover_path]512_256.png" alt="" class="img-responsive">
      </div>
      <div class="file-name">
        <!-- <a href="/clazz/[clazz.cid]">[clazz.names]</a> -->
        <span>[clazz.names]</span>
        <a class="pull-right" href="/clazz/edit/[clazz.cid]">编辑</a>
        <br/>
        <small>最近修改时间:[clazz.put_ms]</small>
      </div>
    </div>
  </div>
  [/each]
</script>
<script id="stuTemplate" type="text/html">
  [each list as user]
  <div class="col-sm-4" id="stu[user.id]">
    <a href="javascript:delStudent([user.id])" class="pull-right color-red">
      <i class="fa fa-close"></i>
    </a>
    <div class="file">
      <a href="#">
        <div class="icon">
          <i class="fa fa-male"></i>
        </div>
        <div class="file-name">
          [user.uid]
          <br/>
          <small>添加时间:[user.add_ms]</small>
        </div>
      </a>
    </div>
  </div>
  [/each]
</script>
<script id="tsTemplate" type="text/html">
  [each list as user]
  <div class="col-sm-4" id="[user.id]">
    <div class="file">
      <a href="javascript:delTeacher([user.id])" class="pull-right color-red">
        <i class="fa fa-close"></i>
      </a>
      <a href="#">
        <div class="icon">
          <i class="fa fa-user-secret"></i>
        </div>
        <div class="file-name">
          [user.names]
          <br/>
          <small>添加时间:[user.add_ms]</small>
        </div>
      </a>
    </div>
  </div>
  [/each]
</script>
<script id="stuListTemplate" type="text/html">
  [each list as user]
  <tr>
    <!-- <td>
      [if user.face_path!='']
      <img class="rounded-x" src="/img/patterns/user.jpg" alt="头像">
      [else]
      <img class="rounded-x" src="[user.face_path]" alt="头像">
      [/if]
    </td> -->
    <td>[user.uid]</td>
    <td>[user.names]</td>
    <td>[user.sid]</td>
    <td>
      [if user.type == 1]
      校外生
      [else]
      校内生
      [/if]
    </td>
    <td>
        <button onclick="edit([user.id],'[user.names]',[user.sid],[user.type])" class="btn btn-success btn-xs">
            <i class="fa fa-pencil">编辑</i>
        </button>
        <button onclick="del([user.id],'[user.names]')" class="btn btn-danger btn-xs">
            <i class="fa fa-trash-o">删除</i>
        </button>
    </td>
  </tr>
  [/each]
</script>
<script type="text/html" id="excelTemplate">
  [each list as data]
    <tr><td>[data.学号]</td>
    <td>[data.姓名]</td>
    <td>[data.手机号码]</td></tr>
  [/each]
</script>
<script>
  var api = '{{config.url.api}}',
    key = '{{key}}',
    token = '{{token}}',
    lid = '{{lesson.lid}}',excelData;
  function del(id,name) {
      swal({
          title: "请确认",
          text: "即将删除"+name+"!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "red",
          confirmButtonText: "确定，删除！",
          cancelButtonText:'取消',
          closeOnConfirm: false,
          html: false
        }, function(){
            $.ajax({
                url:api+'/lessonuser/del',
                data:{
                    id:id,
                    key:key,
                    token:token
                },type:'POST',dataType:'json'
            }).done(function (data) {
                if(data.code === 0){
                    swal("",name+"已经从课程删除","success");
                }else{
                    swal("删除失败",data.msg,"error");
                }
            }).fail(function () {
                swal("","删除失败!","error");
            })
        });
  }
  function edit(id,names,sid,type) {
      $('#id').val(id);
      $('#name').val(names);
      $('#sid').val(sid);
      $('#type').val(type);
      $('.modal').modal('show');
  }
  function handleExcel() {
    var file = document.getElementById('inputExcel').files[0];
    var fileReader = new FileReader();
    fileReader.onload = function (e) {
      var workbook = XLSX.read(e.target.result,{type:'binary'});
      var first_sheet_name = workbook.SheetNames[0];
      var workSheet = workbook.Sheets[first_sheet_name];
      excelData = XLSX.utils.sheet_to_json(workSheet);
      $('#previewExcel').html(template('excelTemplate',{list:excelData}));
    }
    fileReader.readAsBinaryString(file);
  }
  function previewImage() {
    var img = document.getElementById('image'),
      file = document.getElementById('inputImage');
    var reader = new FileReader();
    reader.onload = function (evt) {
      img.src = evt.target.result;
    }
    reader.readAsDataURL(file.files[0]);
  }
  '{% if admin>1 %}'
  function delTeacher(id) {
    if (typeof id === 'undefined') {
      return;
    }
    $.ajax({
      url: api+'lessonadmin/del/',
      type: 'post',
      data: {
        id: id,
        key: key,
        token:token
      },dataType:'json'
    }).done(function (data) {
      if (data.code === 0) {
        // var node = document.getElementById(id);
        // node.parentNode.removeChild(node);
        $('#'+id).remove();
        toastr.success('删除成功！');
      } else {
        toastr.error(data.msg === ''
          ? '删除失败！'
          : data.msg);
      }
    }).fail(function () {
      toastr.error('删除超时！');
    });
  }
  '{% endif %}'
  $(document).ready(function () {
    template.config('openTag', '[');
    template.config('closeTag', ']');
    jQuery('.accordion-toggle').on('click', function () {
      jQuery(this).parent().toggleClass('active');
    });
    $(document).on('click', 'ul.collapse.in>li>a', function () {
      var active = $('ul.collapse>li.active').not($(this).parent());
      if (typeof active === 'undefined')
        return;
      active.removeClass('active');
    });
    $('#editLessonUser').on('click',function () {
        var $type=$('#type'),$names=$('#name'),$id=$('#id'),$sid=$('#sid');
        if($type.val() === 1 && ($names === '' || $sid === '')){
            toastr.error('请填写完整！');
            return false;
        }
        $.ajax({
            url:api+'lessonuser/put',
            data:{
                key:key,
                token:token,
                sid:$sid.val(),
                type:$type.val(),
                names:$names.val(),
                id:$id.val()
            },type:'post',dataType:'json'
        }).done(function (data) {
            if(data.code === 0){
                toastr.success('修改成功!');
                $('.modal').modal('hide');
            }else{
                toastr.error(data.msg);
            }
        }).fail(function () {
            toastr.error('请求超时，稍后再试!');
        })
    })
    $('#excelSubmit').on('click',function () {
      if(typeof excelData === 'undefined' || excelData.length === 0) return;
      // var successCount = 0;
      excelData.forEach(function (item,index) {
        $.ajax({
          url:api+'lessonUser/import',
          type:'post',
          data:{
            sid:item.学号,
            names:item.姓名,
            mobile:item.手机号码,
            lid:lid,
            key:key,
            token:token
          },dataType:'json'
        }).done(function (data) {
            if(data.code != 0){
              toastr.error(item.姓名+'导入失败!');
            }
        });
      });
      // toastr.info('导入学生'+successCount+'人,失败'+(excelData.length-successCount)+'人');
      toastr.info('后台正在导入,稍后去学生管理查看...');
    });
    $('.ui-datepicker').datetimepicker({
      language: 'zh-CN',
      format: 'yyyy-mm-dd hh:ii:ss',
      weekStart: 1,
      todayBtn: 1,
      autoclose: 1,
      todayHighlight: 1,
      startView: 2,
      forceParse: 0,
      showMeridian: 1
    });
    <!-- manage student-->
    $('a[href="#editStu"]').on('show.bs.tab', function () {
      var $stuList = $('#stuList'),
        $stuPage = $('#stuPage');
      if ($stuList.html().trim() != '') {
        return false;
      }
      var count = getStuCount();
      if (count > 0) {
        var items = Math.ceil(count / 5);
        $stuPage.pagination({
          items: items,
          listStyle: "pagination",
          onPageClick: function (page) {
            getStuList(page,$stuList);
          }
        });
        getStuList(1,$stuList);
      }
    });
    $('#searchButton').on('click', function () {
      getStuList(1,$('#stuList'));
    });
    function getStuList(page,object) {
      object.block({message:'<i class="fa fa-spinner fa-pulse fa-5x center"></i>'});
      $.ajax({
        url: api + 'lessonUser/list',
        data: {
          names: $('#search').val(),
          type:$('input[name=type]:checked').val(),
          lid: lid,
          limit: 5,
          ofs: page
        },dataType:'json'
      }).done(function (data) {
        if (data.code === 0) {
          // data.list.forEach(function (element) {
          //   $.ajax({
          //     url:api+'user/get',
          //     data:{
          //       key:key,
          //       token:token,
          //       uid:element.uid
          //     }
          //   }).done(function (data) {
          //     if (data.code === 0) {
          //       element.facepath = data.get.face_path;
          //     }
          //   });
          // });
          object.html(template('stuListTemplate', data));
        } else {
          toastr.error('出错了', data.msg, 'error');
        }
      }).fail(function () {
        toastr.error('出错了', '网络延迟,请稍后再试!', 'error');
      }).always(function () {
        object.unblock();
      });
    }
    function getStuCount() {
      var $search = $('#search'),
        count = 0;
      $.ajax({
        url: api + 'lessonuser/info/',
        data: {
          cname: $search.val(),
          lid: lid
        },
        async: false,dataType:'json'
      }).done(function (data) {
        if (data.code === 0) {
          count = data.info.count;
        } else {
          swal('出错了', data.msg, 'error');
        }
      }).fail(function () {
        swal('出错了', '', 'error');
      });
      return count;
    }

    '{% if admin>1 %}'
    var $inputImage = $("#inputImage");
    <!--edit clazz-->
    function getClassCount() {
      var c = 0;
      $.ajax({
        url: api+'classroom/info',
        data: {
          lid: lid,
          key: key,
          token: token
        },
        async: false,dataType:'json'
      }).done(function (data) {
        if (data.code === 0) {
          c = data.info.count;
        }
      }).fail(function () {
        toastr.error('获取课堂数失败!');
      });
      return c;
    }
    function getClasses(page, obj) {
      $.ajax({
        url: api+'classroom/list',
        data: {
          lid: lid,
          limit: 9,
          ofs: page,
          key: key,
          token: token
        },dataType:'json'
      }).done(function (data) {
        if (data.code === 0) {
          obj.html(template('classTemplate', data));
        } else {
          toastr.error(data.msg === ''
            ? '获取课堂出错!'
            : data.msg);
        }
      }).fail(function () {
        toastr.error('获取课堂出错!');
      });
    }
    $('a[href="#classList"]').on('show.bs.tab', function () {
      var $classes = $('#classes'),
        $classPage = $('#classPage');
      if ($classes.html().trim() != '')
        return;
      var count = getClassCount();
      if (count > 0) {
        var items = Math.ceil(count / 9);
        $classPage.pagination({
          items: items,
          listStyle: "pagination",
          onPageClick: function (page) {
            getClasses(page, $classes);
          }
        });
        getClasses(1, $classes);
      }
    });
    <!-- end edit class-->
    <!--del teacher-->
    function getTeachers(offset) {
      $.ajax({
        url: api+'lessonadmin/list/',
        data: {
          lid:lid,
          limit:9,
          ofs:offset,
          key:key,
          token:token
        },dataType:'json'
      }).done(function (data) {
        if (data.code === 0) {
          $('#ts').html(template('tsTemplate', data));
        } else {
          toastr.error(data.msg === ''
            ? '获取讲师出错!'
            : data.msg);
        }
      }).fail(function () {
        toastr.error('获取讲师超时!');
      });
    }
    function getLessonAdminCount() {
      var count = 0;
      $.ajax({
        url:api+'lessonadmin/info',
        data:{
          lid:lid
        },async:false,dataType:'json'
      }).done(function (data) {
        if(data.code === 0){
          count = data.info.count;
        }
      }).fail(function () {
        toastr.error('获取课程讲师失败,请稍后再试');
      });
      return count;
    }
    $('a[href="#delTeacher"]').on('show.bs.tab', function () {
      if($('#ts').html().trim() === ''){
        var count =  getLessonAdminCount();
        if (count > 0){
          $('#delTeacherPage').pagination({
            items:Math.ceil(count/9),
            listStyle:'pagination',
            onPageClick:function (page) {
              getTeachers(page);
            }
          })
          getTeachers(1);
        }
      }
    });
    <!--end del teacher-->
    <!--add teacher-->
    function isMobile(mobile) {
        return !!(mobile.length === 11 && /^(((13)|(15)|(17)|(18))+\d{9})$/.test(mobile));
    }
    $('#addTeacherSubmit').on('click', function (e) {
        e.preventDefault();
      var $mobile = $('#mobile'),$names = $('#names');
      if(!isMobile($mobile.val())){
          toastr.error('请填写正确的手机号码');
          $mobile.focus();
          return false;
      }
      if($names.val() === ''){
          toastr.error('请填写讲师的称谓');
          return false;
      }
      var uid = 0;
      $.ajax({
          url:api+'user/list',
          data:{
              key:key,
              token:token,
              mobile:$mobile.val()
          },async:false,dataType:'json'
      }).done(function (data) {
          if(data.code === 0 ){
              if(data.list.length > 0){
                  uid = data.list[0].uid
              }
          }
      }).fail(function () {
          toastr.error('获取讲师信息失败');
      })
      if(uid == 0){
          toastr.error('获取讲师信息失败，请核对手机号');
      }
      addTeacher(uid,$names.val());
    });
    function addTeacher(uid, names) {
      if (typeof uid === 'undefined')
        return;
      $.ajax({
        url: api+'lessonadmin/add/',
        type: 'post',
        data: {
          lid: lid,
          uid: uid,
          names: names,
          key: key,
          token: token
        },dataType:'json'
      }).done(function (data) {
        if (data.code === 0) {
          toastr.success('用户' + names + '添加成功！');
        } else {
          toastr.error(data.msg === ''
            ? names + '添加失败!'
            : data.msg);
        }
      }).fail(function () {
        toastr.error('添加失败!');
      });
    }

    <!--end add teacher-->
    //更换封面
    $('#submit').on('click', function () {
      var uploadfile = $inputImage.get(0).files[0];
      if (typeof uploadfile === 'undefined') {
        toastr.error('请选择一张图片');
        return false;
      }
      var formData = new FormData();
      formData.append('uploadfile', uploadfile);
      $('#cover').block({message: '<i class="fa fa-spinner fa-pulse fa-5x center"></i>'});
      $.ajax({
        url: '{{config.url.upload}}/file',
        data: formData,
        processData: false,
        contentType: false,
        type: 'POST',
        timeout: 600000,dataType:'json'
      }).done(function (data) {
        if (data.code === 0) {
          $.ajax({
            url: '{{config.url.api}}/lesson/put',
            type: 'post',
            data: {
              lid: '{{lesson.lid}}',
              cover_path: '{{config.url.domain}}cover/' + data.cover_path,
              key: '{{key}}',
              token: '{{token}}'
            },dataType:'json'
          }).done(function (data) {
            if (data.code === 0) {
              toastr.success('更新封面成功！');
            } else {
              toastr.error(data.msg === ''
                ? '更换封面失败！'
                : data.msg);
            }
          }).fail(function () {
            toastr.error('更换封面失败！');
          });
        } else {
          toastr.error(data.msg === ''
            ? '上传失败，请稍后再试！'
            : data.msg);
        }
      }).fail(function () {
        toastr.error('上传超时，请稍后再试！');
      }).always(function () {
        $('#cover').unblock();
      });
    });
    $('#addClassForm').submit(function (e) {
      e.preventDefault();
      var title = $('#title').val(),
        remark = $('#remark').val(),
        file = $('#file').get(0).files[0],
        start = $('#start').val(),
        end = $('#end').val(),
        formData = new FormData();

      formData.append('uploadfile', file);
      $('#addClassForm').block({message: '<i class="fa fa-spinner fa-pulse fa-5x center"></i>'});
      $.ajax({
        url: '{{config.url.upload}}/file/',
        data: formData,
        processData: false,
        contentType: false,
        type: 'POST',
        timeout: 600000,dataType:'json'
      }).done(function (data) {
        if (data.code === 0) {
          $.ajax({
            url: '{{config.url.api}}/Classroom/Add/',
            type: 'post',
            data: {
              lid: '{{lesson.lid}}',
              names: title,
              descript: remark,
              start_ms: start,
              end_ms: end,
              cover_path: '{{config.url.domain}}/cover/' + data.cover_path,
              key: '{{key}}',
              token: '{{token}}'
            },dataType:'json'
          }).done(function (data) {
            if (data.code == 0) {
              toastr.success('新建成功！');
            } else {
              toastr.error(data.msg === ''
                ? "新建失败！"
                : data.msg);
            }
          }).fail(function (obj) {
            toastr.error('新建课堂失败！');
          });
        } else {
          toastr.error(data.msg === ''
            ? "上传失败，请重新上传！"
            : data.msg);
        }
      }).fail(function () {
        toastr.error('文件上传超时！');
      }).always(function () {
        $('#addClassForm').unblock();
      });
      return false;
    });
    $('#editInfoForm').submit(function (e) {
      e.preventDefault();
      $('#editInfoForm').block({message: '<i class="fa fa-spinner fa-pulse fa-5x center"></i>'});
      $.ajax({
        url: '{{config.url.api}}lesson/put',
        type: 'post',
        data: {
          lid: '{{lesson.lid}}',
          start_ms: $('#lessonStart').val(),
          end_ms: $('#lessonEnd').val(),
          names: $('#lessonTitle').val(),
          descript: $('#lessonRemark').val(),
          key: "{{key}}",
          token: "{{token}}"
        },dataType:'json'
      }).done(function (data) {
        if (data.code === 0) {
          toastr.success('修改成功！');
        } else {
          toastr.error(data.msg === ''
            ? '修改失败！'
            : data.msg);
        }
      }).fail(function () {
        toastr.error('修改超时，请重新提交！');
      }).always(function () {
        $('#editInfoForm').unblock();
      });
      return false;
    });
    '{% endif %}'
  });
</script>
{% endblock %}
