{% extends '../layout/user_sidebar.html' %}

{% block breadcrumbs %}
<li><a href="/index">首页</a></li>
<li class="active">{{title}}</li>
{% endblock %}

{% block content %}
    {% for lesson in lessons %}
    <div class="col-sm-4">
        <div class="file">
            <a href="/lesson/show?lid={{lesson.lid}}">
                <span class="corner"></span>
                <div class="image">
                    <img src="{{lesson.coverpath}}512_256.png" class="img-responsive" alt="">
                </div>
                <div class="file-name">
                    {{lesson.title}}
                    <br/>
                    <small>{{lesson.puttime}}</small>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
    <nav id="page"></nav>
{% endblock %}

{% block js %}
<script src="/js/lib/jquery.simplePagination.js"></script>
<script>
    $(document).ready(function () {
        var $lessonCollapse = $('#collapse-lesson');
        $lessonCollapse.addClass('in');
        $lessonCollapse.find('li').eq(0).addClass('active');
        $('#page').pagination({
            items:10,
            listStyle:"pagination"
        })
    });
</script>
{% endblock %}