{% extends '../layout/header.html' %}
{% block css %}
<link rel="stylesheet" href="/css/lib/sky-forms.css">
<link rel="stylesheet" href="/css/lib/custom-sky-forms.css">
<link rel="stylesheet" href="/css/lib/jqpagination.css">
{% endblock %}

{% block breadcrumbs %}
<li><a href="/index">首页</a></li>
<li><a href="/group/show?oid={{lesson.oid}}">{{group.title|课程所属机构}}</a></li>
<li class="active">{{lesson.title}}</li>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-3">
        <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
            <li class="list-group-item list-toggle active">
                <a href="#collapse-lesson" data-toggle="collapse" class="accordion-toggle">
                    <i class="fa fa-graduation-cap"></i>&nbsp;课程信息
                </a>
                <ul class="collapse in" id="collapse-lesson">
                    <li class="active">
                        <a href="#lesson" data-toggle="tab"><i class="fa fa-graduation-cap"></i>&nbsp;课程详情</a>
                    </li>
                    <li>
                        <a href="#teachers" data-toggle="tab">
                            <i class="fa fa-users"></i>&nbsp;讲师团队
                        </a>
                    </li>
                    <li>
                        <a href="#students" data-toggle="tab">
                            <i class="fa fa-child"></i>&nbsp;上课学生
                        </a>
                    </li>
                </ul>
            </li>

            <li class="list-group-item list-toggle">
                <a href="#collapse-clazz" data-toggle="collapse" class="accordion-toggle">
                    <i class="fa fa-building"></i>&nbsp;&nbsp;课堂列表
                </a>
                <ul id="collapse-clazz" class="collapse">
                    {% for clazz in clazzes %}
                    <li>
                        <a href="#tab-{{clazz.cid}}" class="xx" data-toggle="tab"> {{clazz.title}} </a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="tab-content">
            <div id="lesson" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-md-7">
                        {% if admin > 1%}
                        <a href="/lesson/edit?lid={{lesson.lid}}" class="btn-u btn-xs pull-right">编辑</a>
                        {% endif %}
                        <h3>详情</h3>
                        <dl class="dl-horizontal margin-top-20">
                            <dt>课程名称:</dt>
                            <dd>{{lesson.title}}</dd>
                            <dt>课程备注:</dt>
                            <dd><p>{{lesson.remark}}</p></dd>
                            <dt>主讲老师:</dt>
                            <dd>{{lesson.uid}}</dd>
                            <dt>更新时间:</dt>
                            <dd>{{lesson.puttime}}</dd>
                            <dt>开始时间:</dt>
                            <dd>{{lesson.starttime}}</dd>

                            <dt>结束时间:</dt>
                            <dd>{{lesson.endtime}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-5">
                        <img src="{{lesson.coverpath}}256_256.png" class="img-responsive" alt="课程封面">
                    </div>
                </div>
                <hr>
            </div>
            {% for clazz in clazzes %}
            <div class="tab-pane fade in" id="tab-{{clazz.cid}}">
                <div class="row">
                    <div class="col-md-7">
                        {% if admin>=1 %}
                        <a href="/clazz/edit?cid={{clazz.cid}}" class="btn-u btn-xs pull-right">编辑</a>
                        {% endif %}
                        <h3>详情</h3>
                        <dl class="dl-horizontal margin-top-20">
                            <dt>课堂名称:</dt>
                            <dd>{{clazz.title}}</dd>
                            <dt>课堂备注:</dt>
                            <dd><p>{{clazz.remark}}</p></dd>
                            <dt>更新时间:</dt>
                            <dd>{{clazz.puttime}}</dd>
                            <dt>开始时间:</dt>
                            <dd>{{clazz.starttime}}</dd>
                            <dt>结束时间:</dt>
                            <dd>{{clazz.endtime}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-5">
                        <img src="{{clazz.coverpath}}512_256.png" class="img-responsive" alt="课堂封面">
                    </div>
                </div>
                <hr>
                <h3>云板书</h3>

                <div class="row" id="yunbook-{{clazz.cid}}">
                </div>
                <hr>
                <h3>文件</h3>
                <div class="row" id="file-{{clazz.cid}}">
                </div>
                <hr>
            </div>
            {% endfor %}
            <div id="teachers" class="tab-pane fade in">
                <div class="row" id="tList"></div>
            </div>
            <div id="students" class="tab-pane fade in">
                <div class="row" id="sList"></div>
                <div class="pagination fade" id="studentPage">
                    <a href="#" class="first" data-action="first">&laquo;</a>
                    <a href="#" class="previous" data-action="previous">&lsaquo;</a>
                    <input title="" type="text" readonly="readonly"/>
                    <a href="#" class="next" data-action="next">&rsaquo;</a>
                    <a href="#" class="last" data-action="last">&raquo;</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block js %}
<script src="/js/lib/template.js"></script>
<script src="/js/lib/jquery.jqpagination.js"></script>
<script id="fileTemplate" type="text/html">
    [each list as file]
        <div class="col-sm-3 file">
            <a href="#">
                <span class="corner"></span>
                <div class="icon"><i class="fa fa-file"></i></div>
                <div class="file-name">
                    [file.title]
                </div>
            </a>
        </div>
    [/each]
</script>
<script id="teacherTemplate" type="text/html">
    [each list as user]
    <div class="col-sm-4">
        <div class="file">
            <a href="#">
                <span class="corner"></span>
                <div class="icon"><i class="fa fa-user-secret"></i></div>
                <div class="file-name">
                    [user.uid]
                    <div>
                        <small>添加时间:[user.addtime]</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
    [/each]
</script>
<script id="studentTemplate" type="text/html">
[each list as user]
<div class="col-sm-4">
        <div class="file">
            <a href="#">
                <span class="corner"></span>
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="file-name">
                    [user.uid]
                    <div>
                        <small>添加时间:[user.addtime]</small>
                    </div>
                </div>
            </a>
        </div>
</div>
[/each]
</script>
<script id="usersTemplate" type="text/html">
    [ each list as user ]
    <tr>
        <td><input type="checkbox" value="[user.uid]"></td>
        <td class="contact-type"><i class="fa fa-mobile-phone"> </i></td>
        <td> [user.username]</td>
    </tr>
    [/each]
</script>
<script>
    $(document).ready(function () {
        var limit=9;
        template.config('openTag', '[');
        template.config('closeTag', ']');
        jQuery('.accordion-toggle').on('click', function () {
            jQuery(this).parent().toggleClass('active');
        });
        $(document).on('click', 'ul.collapse.in>li>a', function () {
            var active = $('ul.collapse>li.active').not($(this).parent());
            if (typeof active === 'undefined') return;
            active.removeClass('active');
        });
        $('.xx').on('show.bs.tab',function(){
           var $id=$(this).attr('href'),$cid=$id.substring($id.lastIndexOf('-')+1,$id.length),
                   $yunbook=$('#yunbook-'+$cid),
                   $file = $('#file-'+$cid);
            //如果其中一个有内容则不刷新
            if($yunbook.html()&&$file.html()){
                getYunbook($cid);
                getFiles($cid);
            }

        });
        $('a[href="#teachers"]').on('show.bs.tab',function(){
           var $teachers = $('#tList');
            if($teachers.html()===''){
                getTeachers($teachers,50,1);
            }
        });
        $('a[href="#students"]').on('show.bs.tab',function(){
            var $students=$('#sList');
           if($students.html()===''){
                var count = getStudentCount(),$sPage=$('#studentPage');
               if(count>0){
                   getStudents($students,limit,1);
                   $sPage.jqPagination({
                       max_page: Math.ceil(count / limit),
                       page_string: '第{current_page}页,共{max_page}页',
                       paged: function (page) {
                           getStudents($students,limit,page);
                       }
                   });
                   $sPage.removeClass('fade');
               }
           }
        });
        function getYunbook(cid){
            $.ajax({
                url:'{{config.url.api}}yunbook/get',
                data:{
                    cid:cid
                }
            }).done(function(data){
                if(data.code === 0){
                    if(data.get.id !== undefined) {
                        $('#yunbook-' + cid).html('<div class="col-sm-3 file"><a href="/yunbook/show?yid=' + data.get.yid + '">'
                                + '<div class="icon">'
                                + '<i class="fa fa-book"></i>'
                                + '</div>'
                                + '<div class="file-name">'
                                + data.get.title
                                + '</div></a></div>');
                    }
                }else{
                    alert('获取课堂云板书出错!');
                }
            }).fail(function(){
                alert('获取课堂云板书超时!');
            });
        }
        function getFiles(cid){
            $.ajax({
                url:'{{config.url.api}}file/list',
                data:{
                    cid:cid,
                    limit:50,
                    offset:1
                }
            }).done(function(data){
                if(data.code === 0){
                    $('#file-'+cid).html(template('fileTemplate',data));
                }else{
                    alert(data.msg===''?'获取课堂文件出错':data.msg);
                }
            }).fail(function(){
                alert('获取课堂文件超时');
            });
        }
        function getTeacherCount(){
            var count = 0;
            $.ajax({
                url: '{{config.url.api}}lessonAdmin/info',
                data:{
                    lid:'{{lesson.lid}}',
                    state:4
                },
                async: false
            }).done(function (data) {
                if (data.code === 0) {
                    count = data.info.Count;
                } else {
                    alert(data.msg === '' ? '获取学生数量出错!' : data.msg);
                }
            }).fail(function () {
                alert('获取学生数量超时！');
            });
            return count;
        }
        function getStudentCount() {
            var count = 0;
            $.ajax({
                url: '{{config.url.api}}lessonUser/info',
                data:{
                  lid:'{{lesson.lid}}',
                    state:4
                },
                async: false
            }).done(function (data) {
                if (data.code === 0) {
                    count = data.info.Count;
                } else {
                    alert(data.msg === '' ? '获取学生数量出错!' : data.msg);
                }
            }).fail(function () {
                alert('获取学生数量超时！');
            });
            return count;
        }
        function getTeachers(object,limit,offset){
            $.ajax({
                url: '{{config.url.api}}lessonAdmin/list',
                data: {
                    offset: offset,
                    limit: limit,
                    lid:'{{lesson.lid}}',
                    state:4
                }
            }).done(function (data) {
                if (data.code === 0) {
                    object.html('<div class="col-sm-4">'
                            +'<div class="file easy-block-v2">'
                            +'<a href="#">'
                            +'<span class="corner"></span>'
                            +'<div class="icon"><i class="fa fa-user-secret"></i></div>'
                            +'<div class="easy-bg-v2 rgba-default">主讲</div>'
                    +'<div class="file-name">{{lesson.uid}}<div><small>添加时间:{{lesson.puttime}}</small> </div></div>'
                    +'</a></div> </div>');
                    object.append(template('teacherTemplate', data));
                } else {
                    alert(data.msg === '' ? '获取学生失败!' : data.msg);
                }
            }).fail(function () {
                alert('获取学生超时!');
            });
        }
        function getStudents(object, limit ,offset) {
            $.ajax({
                url: '{{config.url.api}}lessonUser/list',
                data: {
                    offset: offset,
                    limit: limit,
                    lid:'{{lesson.lid}}',
                    state:4
                }
            }).done(function (data) {
                if (data.code === 0) {
                    object.html(template('studentTemplate', data));
                } else {
                    alert(data.msg === '' ? '获取学生失败!' : data.msg);
                }
            }).fail(function () {
                alert('获取学生超时!');
            });
        }
    });
</script>
{% endblock %}