{% extends '../layout/header.html' %}
{% block css %}
<link rel="stylesheet" href="/css/lib/sky-forms.css">
<link rel="stylesheet" href="/css/lib/custom-sky-forms.css">
<link rel="stylesheet" href="/css/lib/simplePagination.css">
{% endblock %}

{% block breadcrumbs %}
<li><a href="/index">首页</a></li>
<li><a href="/group/{{lesson.oid}}">{{group.names|课程所属机构}}</a></li>
<li class="active">{{lesson.names}}</li>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-3">
        <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
            <li class="list-group-item list-toggle active">
                <a href="#collapse-lesson" data-toggle="collapse" class="accordion-toggle">
                    <i class="fa fa-graduation-cap"></i>&nbsp;课程信息
                </a>
                <ul class="collapse in" id="collapse-lesson">
                    <li class="active">
                        <a href="#lesson" data-toggle="tab"><i class="fa fa-graduation-cap"></i>&nbsp;课程详情</a>
                    </li>
                    <li>
                        <a href="#teachers" data-toggle="tab">
                            <i class="fa fa-users"></i>&nbsp;讲师团队
                        </a>
                    </li>
                    <li>
                        <a href="#students" data-toggle="tab">
                            <i class="fa fa-child"></i>&nbsp;上课学生
                        </a>
                    </li>
                </ul>
            </li>

            <li class="list-group-item list-toggle">
                <a href="#collapse-clazz" data-toggle="collapse" class="accordion-toggle">
                    <i class="fa fa-building"></i>&nbsp;&nbsp;课堂列表
                </a>
                <ul id="collapse-clazz" class="collapse">
                    {% for clazz in clazzes %}
                    <li>
                        <a href="#tab-{{clazz.cid}}" class="xx" data-toggle="tab"> {{clazz.names}} </a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="tab-content">
            <div id="lesson" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-md-7">
                        <div class="pull-right">
                        <a onclick="makeCode()" class="btn-u btn-xs">二维码</a>
                        {% if admin > 1%}
                        <a href="/lesson/edit/{{lesson.lid}}" class="btn-u btn-xs">编辑</a>
                        {% endif %}
                        {% if admin == 0%}
                        <a href="javascript:addUser()" class="btn-u btn-xs pull-right">申请加入</a>
                        {% endif %}
                        </div>
                        <h3>详情</h3>
                        <dl class="dl-horizontal margin-top-20">
                            <dt>课程名称:</dt>
                            <dd>{{lesson.names}}</dd>
                            <dt>课程备注:</dt>
                            <dd><p>{{lesson.descript}}</p></dd>
                            <dt>主讲老师:</dt>
                            <dd>{{lesson.uid}}</dd>
                            <dt>更新时间:</dt>
                            <dd>{{lesson.put_ms}}</dd>
                            <dt>开始时间:</dt>
                            <dd>{{lesson.start_ms}}</dd>
                            <dt>结束时间:</dt>
                            <dd>{{lesson.end_ms}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-5">
                        <img src="{{lesson.cover_path}}512_256.png" class="img-responsive" alt="课程封面">
                    </div>
                </div>
                <hr>
            </div>
            {% for clazz in clazzes %}
            <div class="tab-pane fade in" id="tab-{{clazz.cid}}">
                <div class="row">
                    <div class="col-md-7">
                        {% if admin>=1 %}
                        <a href="/clazz/edit/{{clazz.cid}}" class="btn-u btn-xs pull-right">管理</a>
                        {% endif %}
                        <h3>详情</h3>
                        <dl class="dl-horizontal margin-top-20">
                            <dt>课堂名称:</dt>
                            <dd>{{clazz.names}}</dd>
                            <dt>课堂备注:</dt>
                            <dd><p>{{clazz.descript}}</p></dd>
                            <dt>更新时间:</dt>
                            <dd>{{clazz.put_ms}}</dd>
                            <dt>开始时间:</dt>
                            <dd>{{clazz.start_ms}}</dd>
                            <dt>结束时间:</dt>
                            <dd>{{clazz.end_ms}}</dd>
                        </dl>
                    </div>
                    <div class="col-md-5">
                        <img src="{{clazz.cover_path}}512_256.png" class="img-responsive" alt="课堂封面">
                    </div>
                </div>
                <hr>
                <h3>云板书</h3>

                <div class="row" id="yunbook-{{clazz.cid}}">
                </div>
                <hr>
                <!-- <h3>文件</h3>
                <div class="row" id="file-{{clazz.cid}}">
                </div>
                <hr> -->
            </div>
            {% endfor %}
            <div id="teachers" class="tab-pane fade in">
                <div class="row" id="tList"></div>
            </div>
            <div id="students" class="tab-pane fade in">
                <div class="row" id="sList"></div>
                <nav id="stusPage"></nav>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="modal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">
                                ×
                            </span>
                        </button>                    
                    </div>
                    <div class="modal-body">
                        <div id="qrcode"></div>
                    </div>
                    <!-- <div class="modal-footer">
                        <button class="btn btn-primary" id="submit" type="button">
                            保存
                        </button>
                    </div> -->
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
{% endblock %}

{% block js %}
<script src="/js/lib/template.js"></script>
<script src="/js/lib/jquery.simplePagination.js"></script>
<script type="text/javascript" src="/js/qrcode.min.js"></script>
<script id="fileTemplate" type="text/html">
    [each list as file]
    <div class="col-sm-3 file">
        <a href="#">
            <span class="corner"></span>
            <div class="icon"><i class="fa fa-file"></i></div>
            <div class="file-name">
                [file.title]
            </div>
        </a>
    </div>
    [/each]
</script>
<script id="teacherTemplate" type="text/html">
    [each list as user]
    <div class="col-sm-4">
        <div class="file">
            <a href="#">
                <span class="corner"></span>
                <div class="icon"><i class="fa fa-user-secret"></i></div>
                <div class="file-name">
                    [user.uid]
                    <div>
                        <small>添加时间:[user.add_ms]</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
    [/each]
</script>
<script id="studentTemplate" type="text/html">
    [each list as user]
    <div class="col-sm-4">
        <div class="file">
            <a href="#">
                <span class="corner"></span>
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <div class="file-name">
                    [user.uid]
                    <div>
                        <small>添加时间:[user.add_ms]</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
    [/each]
</script>
<script id="usersTemplate" type="text/html">
    [ each list as user ]
    <tr>
        <td><input type="checkbox" value="[user.uid]"></td>
        <td class="contact-type"><i class="fa fa-mobile-phone"> </i></td>
        <td> [user.mobile]</td>
    </tr>
    [/each]
</script>
<script>
    var key='{{key}}',token = '{{token}}',api='{{config.url.api}}',lid='{{lesson.lid}}';
    '{% if admin== 0 %}'
    function addUser() {
      swal({
          title: "请确认",
          text: "确定加入{{lesson.names}}?",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#72c02c",
          confirmButtonText: "确定，加入!",
          cancelButtonText: "不加入!",
          closeOnConfirm: true,
          closeOnCancel: true
      }, function (isConfirm) {
          if (isConfirm) {
            $.ajax({
              url:api+'lessonUser/add',
              data:{
                key:key,
                token:token,
                uid:key,
                lid:lid
              },
              type:'POST',dataType:'json'
            }).done(function (data) {
              if(data.code === 0){
                toastr.success('成功加入!');
              }else{
                toastr.error(data.msg);
              }
            }).fail(function () {
              toastr.error('请求超时，请稍后再试!');
            })
          }
      })
    }
    '{% endif %}'
    function makeCode () {
        $('#modal').modal('show');
        if($('#qrcode').html()===''){
            var qrcode = new QRCode(document.getElementById("qrcode"), {
                                width : 256,
                                height : 256
                            });
            qrcode.makeCode(window.location.href);
        }
    }
    $(document).ready(function () {
        var limit = 9;
        template.config('openTag', '[');
        template.config('closeTag', ']');
        jQuery('.accordion-toggle').on('click', function () {
            jQuery(this).parent().toggleClass('active');
        });
        $(document).on('click', 'ul.collapse.in>li>a', function () {
            var active = $('ul.collapse>li.active').not($(this).parent());
            if (typeof active === 'undefined') return;
            active.removeClass('active');
        });       
        $('.xx').on('show.bs.tab', function () {
            var $id = $(this).attr('href'), $cid = $id.substring($id.lastIndexOf('-') + 1, $id.length),
                    $yunbook = $('#yunbook-' + $cid);
                    // $file = $('#file-' + $cid);
            //如果其中一个有内容则不刷新
            if ($yunbook.html().trim() === '') {
                getYunbook($cid);
                // getFiles($cid);
            }
        });
        $('a[href="#teachers"]').on('show.bs.tab', function () {
            var $teachers = $('#tList');
            if ($teachers.html() === '') {
                getTeachers($teachers, 50, 1);
            }
        });
        $('a[href="#students"]').on('show.bs.tab', function () {
            var $students = $('#sList');
            if ($students.html().trim() === '') {
                var count = getStudentCount(), $sPage = $('#stusPage');
                if (count > 0) {
                    getStudents($students, limit, 1);
                    var items = Math.ceil(count/limit);
                    $sPage.pagination({
                      items:items,
                      listStyle:'pagination',
                      onPageClick:function (page) {
                        getStudents($students,limit,page);
                      }
                    });
                }
            }
        });
        function getYunbook(cid) {
            $.ajax({
                url: api+'classRoomFile/list',
                data: {
                    cid: cid,
                    key:key,
                    token:token,
                    type:3
                },dataType:'json'
            }).done(function (data) {
                if (data.code === 0) {
                    var id = data.list[0].cfid;
                    if (id !== undefined) {
                        var $object = $('#yunbook-' + cid);
                        $object.html('<div class="col-sm-3 file"><a target="_blank" href="/yunbook/'+lid+'/clazz/' + id + '">'
                        + '<div class="icon">'
                        + '<i class="fa fa-book"></i>'
                        + '</div>'
                        + '<div class="file-name">'
                        + data.list[0].names
                        + '</div></a></div>');
                    }
                } else {
                    toastr.error('获取课堂云板书出错!');
                }
            }).fail(function () {
                toastr.error('获取课堂云板书超时!');
            });
        }

        function getFiles(cid) {
            $.ajax({
                url: api+'file/list',
                data: {
                    cid: cid,
                    limit: 50,
                    ofs: 1
                },dataType:'json'
            }).done(function (data) {
                if (data.code === 0) {
                    $('#file-' + cid).html(template('fileTemplate', data));
                } else {
                    toastr.error(data.msg === '' ? '获取课堂文件出错' : data.msg);
                }
            }).fail(function () {
                toastr.error('获取课堂文件超时');
            });
        }

        function getTeacherCount() {
            var count = 0;
            $.ajax({
                url: api+'lessonAdmin/info',
                data: {
                    lid: lid
                },
                async: false,dataType:'json'
            }).done(function (data) {
                if (data.code === 0) {
                    count = data.info.count;
                } else {
                    toastr.error(data.msg === '' ? '获取讲师数量出错!' : data.msg);
                }
            }).fail(function () {
                toastr.error('获取讲师数量超时！');
            });
            return count;
        }

        function getStudentCount() {
            var count = 0;
            $.ajax({
                url: api+'lessonUser/info',
                data: {
                    lid: lid
                },
                async: false,dataType:'json'
            }).done(function (data) {
                if (data.code === 0) {
                    count = data.info.count;
                } else {
                    toastr.error(data.msg === '' ? '获取学生数量出错!' : data.msg);
                }
            }).fail(function () {
                toastr.error('获取学生数量超时！');
            });
            return count;
        }

        function getTeachers(object, limit, offset) {
            $.ajax({
                url: api+'lessonAdmin/list',
                data: {
                    ofs: offset,
                    limit: limit,
                    lid: lid
                },dataType:'json'
            }).done(function (data) {
                if (data.code === 0) {
                    object.html('<div class="col-sm-4">'
                            + '<div class="file easy-block-v2">'
                            + '<a href="#">'
                            + '<span class="corner"></span>'
                            + '<div class="icon"><i class="fa fa-user-secret"></i></div>'
                            + '<div class="easy-bg-v2 rgba-default">主讲</div>'
                            + '<div class="file-name">{{lesson.uid}}<div><small>添加时间:{{lesson.put_ms}}</small> </div></div>'
                            + '</a></div> </div>');
                    object.append(template('teacherTemplate', data));
                } else {
                    toastr.error(data.msg === '' ? '获取讲师失败!' : data.msg);
                }
            }).fail(function () {
                toastr.error('获取讲师超时!');
            });
        }

        function getStudents(object, limit, offset) {
            $.ajax({
                url: api+'lessonUser/list',
                data: {
                    ofs: offset,
                    limit: limit,
                    lid: lid
                },dataType:'json'
            }).done(function (data) {
                if (data.code === 0) {
                    object.html(template('studentTemplate', data));
                } else {
                    toastr.error(data.msg === '' ? '获取学生失败!' : data.msg);
                }
            }).fail(function () {
                toastr.error('获取学生超时!');
            });
        }
    });
</script>
{% endblock %}
