{% extends '../layout/user_sidebar.html' %}
{% block css %}
<link rel="stylesheet" href="/css/lib/sky-forms.css">
<link rel="stylesheet" href="/css/lib/custom-sky-forms.css">
<link rel="stylesheet" href="/css/lib/cropper.min.css">
<link rel="stylesheet" href="/css/user/crop-avatar.css">
{% endblock%}
{% block content %}
<div class="tab-v1">
    <ul class="nav nav-justified nav-tabs">
        <li class="active"><a data-toggle="tab" href="#profile">编辑个人信息</a></li>
        <li><a data-toggle="tab" href="#crop-avatar">更改头像</a></li>
        <!-- <li><a data-toggle="tab" href="#cover">更改个人封面</a></li> -->
        <li><a data-toggle="tab" href="#settings">系统设置</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="profile">
            <form class="sky-form">
                <header>编辑</header>
                <fieldset>
                    <!-- <section>
                        <label class="label" for="cname">姓名</label>
                        <label class="input">
                            <input type="text" value="{{user.cname}}" id="cname">
                        </label>
                    </section> -->
                    <section>
                        <label class="label" for="nickname">昵称</label>
                        <label class="input">
                            <input type="text" id="nickname" value="{{user.names}}">
                        </label>
                    </section>
                    <!-- <section>
                        <label class="label" for="studentId">学号</label>
                        <label class="input">
                            <input type="text" id="studentId" value="{{user.studentid}}">
                        </label>
                    </section> -->
                </fieldset>
                <footer>
                    <button type="submit" class="btn-u pull-right">提交</button>
                </footer>
            </form>
        </div>
        <div class="tab-pane fade in" id="crop-avatar">
            <!-- Current avatar -->
            <div class="avatar-view" title="更换头像">
                {% if user.face_path ==''%}
                <img src="/img/DefaultAvatar/DefaultAvatar200.jpg" alt="头像">
                {% else %}
                <img src="{{user.face_path}}" alt="头像">
                {% endif %}
            </div>
            <!-- Cropping modal -->
            <div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form class="avatar-form" action="{{config.url.upload}}face/"
                        domain="{{config.url.domain}}face/"
                       enctype="multipart/form-data" method="post">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" id="avatar-modal-label">更改头像</h4>
                            </div>
                            <div class="modal-body">
                                <div class="avatar-body">
                                    <!-- Upload image and data -->
                                    <div class="avatar-upload">
                                        <input type="hidden" class="avatar-src" name="avatar_src">
                                        <input type="hidden" name="x">
                                        <input type="hidden" name="y">
                                        <input type="hidden" name="width">
                                        <input type="hidden" name="height">
                                        <input type="hidden" name="rotate">
                                        <label for="avatarInput">选择文件</label>
                                        <input type="file" class="avatar-input" id="avatarInput" name="uploadfile">
                                    </div>

                                    <!-- Crop and preview -->
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="avatar-wrapper"></div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="avatar-preview preview-lg"></div>
                                            <div class="avatar-preview preview-md"></div>
                                            <div class="avatar-preview preview-sm"></div>
                                        </div>
                                    </div>

                                    <div class="row avatar-btns">
                                        <div class="col-md-9">
                                            <div class="btn-group">
                                                <button type="button" class="btn-u" data-method="rotate" data-option="-90" title="Rotate -90 degrees">向左旋转</button>
                                                <button type="button" class="btn-u" data-method="rotate" data-option="-15">-15度</button>
                                                <button type="button" class="btn-u" data-method="rotate" data-option="-30">-30度</button>
                                                <button type="button" class="btn-u" data-method="rotate" data-option="-45">-45度</button>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn-u" data-method="rotate" data-option="90" title="Rotate 90 degrees">向右旋转</button>
                                                <button type="button" class="btn-u" data-method="rotate" data-option="15">15度</button>
                                                <button type="button" class="btn-u" data-method="rotate" data-option="30">30度</button>
                                                <button type="button" class="btn-u" data-method="rotate" data-option="45">45度</button>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="submit" class="btn-u btn-block avatar-save">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="loading" aria-label="Loading" role="img" tabindex="-1">
                                <i class="fa fa-spinner fa-pulse fa-5x center"></i>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- /.modal -->
        </div>
        <div class="tab-pane fade in" id="cover"></div>
        <div class="tab-pane fade in" id="settings"></div>
    </div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">
  var key = '{{key}}',token='{{token}}',api = '{{config.url.api}}';
</script>
<script type="text/javascript" src="/js/lib/jquery.blockUI.min.js"></script>
<script type="text/javascript" src="/js/lib/cropper.min.js"></script>
<script type="text/javascript" src="/js/user/crop-avatar.js"></script>
<script>
    $(document).ready(function () {
        jQuery('.list-group-item').on('click', function () {
            jQuery(this).toggleClass('active');
        });
        $('.list-group-item').last().addClass('active');
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return r[2];
            return null;
        }
        $('form').eq(0).submit(function(e){
            e.preventDefault();
            var $nickname = $('#nickname'),
                    $cname = $('#cname'),$studentId=$('#studentId');
            $('form').eq(0).block();
            $.ajax({
                url:api+'user/put',
                data:{
                    uid:key,
                    names:$nickname.val(),
                    // cname:$cname.val(),
                    // studentId:$studentId.val(),
                    key:key,
                    token:token
                },type:'post'
            }).done(function(data){
                if(data.code === 0){
                    swal({
                        title:'更新成功!',
                        type:'success'
                    },function(){
                        var redirect = getUrlParam('redirect');
                        if(redirect != null){
                            window.location.href=decodeURIComponent(redirect);
                        }
                    });

                }else{
                    swal('出错了',data.msg===''?'未知错误！':data.msg,'error');
                }
            }).fail(function(){
                swal('出错了','网络延迟，请重新操作','error');
            }).always(function(){
                $('form').eq(0).unblock();
            })
        })
    });
</script>
{% endblock %}
