{% extends '../layout/user_sidebar.html' %}
{% block css %}
<link rel="stylesheet" href="/css/lib/sky-forms.css">
<link rel="stylesheet" href="/css/lib/custom-sky-forms.css">
{% endblock%}
{% block breadcrumbs%}
<li><a href="/index">首页</a></li>
<li><a href="/group">机构</a></li>
<li class="active">{{title}}</li>
{% endblock %}
{% block content%}
<form class="sky-form">
    <header>新建机构</header>
    <fieldset>
        <section>
            <label class="label" for="title">机构名称</label>
            <label class="input">
                <input type="text" required="required" id="title">
            </label>
        </section>
        <section>
            <label class="label">机构LOGO</label>
            <label for="file" class="input input-file">
                <div id="b" class="button">
                    <input type="file" id="file" required="required"
                           onchange="this.parentNode.nextElementSibling.value = this.value">选择文件
                </div>
                <input id="path" type="text" readonly>
            </label>
        </section>
        <section>
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <td>选择管理员</td>
                        <td>用户名</td></tr>
                </thead>
                <tbody id="users">
                    {% for user in users %}
                    <tr>
                        <td><input type="radio" name="admin" value="{{user.uid}}"></td>
                        <td>{{user.username}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav id="page"></nav>
        </section>
    </fieldset>
    <footer>
        <button type="submit" class="btn-u">提交</button>
        <button type="button" class="btn-u btn-u-default"
                onclick="document.getElementsByTagName('form')[0].reset();">重填</button>
    </footer>
</form>
{% endblock%}
{% block js %}
<script type="text/javascript" src="/js/lib/jquery.blockUI.js"></script>
<script type="text/javascript" src="/js/lib/template.js"></script>
<script src="/js/lib/jquery.simplePagination.js"></script>
<script id="userTemplate" type="text/html">
    [each list as user]
    <tr>
        <td><input type="radio" name="admin" value="[user.uid]"></td>
        <td>[user.username]</td>
    </tr>
    [/each]
</script>
<script>
    $(document).ready(function () {
        var $groupCollapse = $('#collapse-group'),$users=$('#users');
        jQuery('.list-group-item').on('click', function () {
            jQuery(this).toggleClass('active');
        });
        template.config('openTag','[');
        template.config('closeTag',']');
        $('#page').pagination({
            items:parseInt('{{count}}',10),
            listStyle:"pagination",
            onPageClick:function(page,event){
                $.ajax({
                    url:"{{config.url.api}}userInfo/list",
                    data:{
                        limit:9,
                        offset:page
                    }
                }).done(function(data){
                    if(data.code === 0){
                        $users.html(template("userTemplate",data));
                    }else{
                        alert(data.msg===''?'获取用户列表失败！':data.msg);
                    }
                }).fail(function(){
                   alert('获取用户列表失败！');
                });
            }
        });
        $groupCollapse.addClass('in');
        $groupCollapse.find('li').eq(1).addClass('active');
        $('form').submit(function(e){
            var title=$('#title').val(),
                    file=$('#file').get(0).files[0],$uid=$(':radio:checked').val();
            e.preventDefault();
            if ($uid === 'undefined'){
                alert('请选择一个管理员');
                return false;
            }
            var formData=new FormData();
            formData.append('uploadfile',file);
            formData.append('title',title);
            $('form').block();
            $.ajax({
                url:'{{config.url.upload}}/file',
                data:formData,
                type:'POST',
                contentType: false,
                processData: false,
                timeout:300000 //5min
            }).done(function(data){
                if(data.code===0){
                    $.ajax({
                        url: "{{config.url.api}}/Organ/Add/",
                        type:'post',
                        data: {
                            title: title,
                            key: '{{key}}',
                            token: '{{token}}',
                            coverpath:"{{config.url.domain}}cover/"+data.cover_path,
                            uid:$uid
                        }
                    }).done(function(data){
                        if(data.code==0){
                            alert('新建成功！');
                        }else {
                            alert(data.msg === '' ? "新建失败！" : data.msg);
                        }
                    }).fail(function(){
                        alert('新建机构失败！');
                    });
                }else{
                    alert(data.msg===''?"上传失败，请重新上传！":data.msg);
                }
            }).fail(function(){
                alert('文件上传超时！');
            }).always(function(){
                $('form').unblock();
            });
            return false;
        });
    });
</script>
{% endblock %}