{% extends '../layout/user_sidebar.html' %}
{% block css %}
<link rel="stylesheet" href="/css/lib/sky-forms.css">
<link rel="stylesheet" href="/css/lib/custom-sky-forms.css">
<link rel="stylesheet" href="/css/lib/simplePagination.css">
{% endblock%}
{% block breadcrumbs%}
<li><a href="/index">首页</a></li>
<li><a href="/group">机构</a></li>
<li class="active">{{title}}</li>
{% endblock %}
{% block content%}
<form class="sky-form">
    <header>新建机构</header>
    <fieldset>
        <section>
            <label class="label" for="title">机构名称</label>
            <label class="input">
                <input type="text" required="required" id="title">
            </label>
        </section>
        <section>
            <label for="mobile">机构管理员手机号码</label>
            <label class="input">
                <input type="text" id="mobile">
            </label>
        </section>
        <section>
            <label class="label">机构LOGO</label>
            <label for="file" class="input input-file">
                <div id="b" class="button">
                    <input type="file" id="file" required="required"
                           onchange="this.parentNode.nextElementSibling.value = this.value">选择文件
                </div>
                <input id="path" type="text" readonly>
            </label>
        </section>
    </fieldset>
    <footer>
        <button type="submit" class="btn-u">提交</button>
        <button type="button" class="btn-u btn-u-default"
                onclick="document.getElementsByTagName('form')[0].reset();">重填</button>
    </footer>
</form>
{% endblock%}
{% block js %}
<script type="text/javascript" src="/js/lib/jquery.blockUI.min.js"></script>
<script src="/js/lib/jquery.simplePagination.js"></script>
<script>
    $(document).ready(function () {
        var $groupCollapse = $('#collapse-group'),$users=$('#users');
        jQuery('.list-group-item').on('click', function () {
            jQuery(this).toggleClass('active');
        });
        $groupCollapse.addClass('in');
        $groupCollapse.find('li').eq(1).addClass('active');
        $('form').submit(function(e){
            var title=$('#title').val(),
                file=$('#file').get(0).files[0],
                mobile = $('#mobile').val(),uid=0;
            e.preventDefault();
            $.ajax({
                url:"{{config.url.api}}/user/list",
                data:{
                    key:'{{key}}',
                    token:'{{token}}',
                    mobile:mobile
                },async:false,dataType:'json'
            }).done(function (data) {
                if(data.code === 0 && data.list.length > 0){
                    uid = data.list[0].uid;
                }
            }).fail(function () {
                toastr.error('获取管理员失败，请稍后再试')
            })
            if (uid === 0){
                toastr.error('无法照的管理员，请核对手机号码');
                return false;
            }
            var formData=new FormData();
            formData.append('uploadfile',file);
            formData.append('title',title);
            $('form').block({message:'<i class="fa fa-spinner fa-pulse fa-5x center"></i>'});
            $.ajax({
                url:'{{config.url.upload}}/file',
                data:formData,
                type:'POST',
                contentType: false,
                processData: false
                ,dataType:'json',
                timeout:300000 //5min
            }).done(function(data){
                if(data.code===0){
                    $.ajax({
                        url: "{{config.url.api}}/Organ/Add/",
                        type:'post',
                        data: {
                            names: title,
                            key: '{{key}}',
                            token: '{{token}}',
                            cover_path:"{{config.url.domain}}cover/"+data.cover_path,
                            logo_path:"{{config.url.domain}}cover/"+data.cover_path,
                            uid:uid
                        },dataType:'json'
                    }).done(function(data){
                        if(data.code==0){
                            window.location.href="/group/"+data.identity;
                        }else {
                            toastr.error(data.msg === '' ? "新建失败！" : data.msg);
                        }
                    }).fail(function(){
                        toastr.error('新建机构失败！');
                    });
                }else{
                    toastr.error(data.msg===''?"上传失败，请重新上传！":data.msg);
                }
            }).fail(function(){
                toastr.error('文件上传超时！');
            }).always(function(){
                $('form').unblock();
            });
            return false;
        });
    });
</script>
{% endblock %}
