{% extends '../layout/user_sidebar.html' %}

{% block breadcrumbs %}
<li><a href="/index">首页</a></li>
<li class="active">{{title}}</li>
{% endblock %}

{% block content %}
{% for group in groupList %}
<div class="col-sm-4 margin-button-20">
    <div class="funny-boxes funny-boxes-top-green">
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive" src="{{config.url.domain}}{{group.coverpath}}64_64.png" alt="机构封面">
            </div>
            <div class="col-md-8">
                <h2><a href="/group/show?oid={{group.oid}}">{{group.title}}</a></h2>
                <p>{{group.remark}}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $('.list-group-item').eq(1).addClass('active');
    });
</script>
{% endblock %}