{% extends '../layout/user_sidebar.html' %}

{% block breadcrumbs %}
<li><a href="/index">首页</a></li>
<li class="active">{{title}}</li>
{% endblock %}

{% block content %}
<div class="col-md-12">
    {% for group in groupList %}
    <div class="file-box">
        <div class="file">
            <a href="/group/show?oid={{group.oid}}">
                <span class="corner"></span>
                <div class="image">
                    <img src="{{group.coverpath}}512_256.png" class="img-responsive" alt="">
                </div>
                <div class="file-name">
                    {{group.title}}
                    <br/>
                    <small>{{group.addtime}}</small>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $('.list-group-item').eq(1).addClass('active');
    });
</script>
{% endblock %}