{% extends '../layout/header.html' %}
{% block breadcrumbs %}
<li><a href="/index">首页</a></li>
<li><a href="/group">机构列表</a></li>
<li class="active">{{group.title}}</li>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-7">
        {% if admin %}
        <a href="/lesson/add/{{group.oid}}" class="btn-u pull-right">新建课程</a>
        {% endif %}
        <h3>详情</h3>
        <dl class="dl-horizontal margin-top-20">
            <dt>机构名:</dt>
            <dd>{{group.names}}</dd>
            <dt>管理员:</dt>
            <dd>{{group.uid}}</dd>
            <dt>更新时间:</dt>
            <dd>{{group.put_ms}}</dd>
        </dl>
    </div>
    <div class="col-md-5">
        <img src="{{group.cover_path}}512_256.png" class="img-responsive"
             alt="机构封面">
    </div>
</div>

<hr>
<div class="row">
    <a href="/lesson?oid={{group.oid}}" class="btn-u pull-right">显示全部</a>
    <h3>热门课程</h3>
</div>
<div class="row">
    {% for lesson in lessons %}
    <div class="col-sm-4">

        <div class="file">
            <a href="/lesson/{{lesson.lid}}">
                <span class="corner"></span>
                <div class="img">
                    <img src="{{lesson.cover_path}}512_256.png" class="img-responsive" alt="">
                </div>
                <div class="file-name">
                    {{lesson.names}}
                    <br/>
                    <small>{{lesson.put_ms}}</small>
                </div>
            </a>
        </div>
    </div>

    {% endfor %}
</div>
<hr>
<div class="row">
    <a href="#" class="btn-u pull-right">显示全部</a>
    <h3>明星老师</h3>
</div>
<hr>
{% endblock %}
