{% extends './layout/header.html' %}
{% block body %}
<div class="row">
    <div class="headline">
        <h2>最新课程</h2>
    </div>
</div>
<div class="row">
    {% for lesson in lessons %}
    <div class="col-sm-3 file">
        <a href="/lesson/show?lid={{lesson.lid}}">
            <span class="corner"></span>
            <div class="img">
                <img src="{{lesson.coverpath}}512_256.png" class="img-responsive" alt="">
            </div>
            <div class="file-name text-center">
                {{lesson.title}}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="headline">
        <h2>最新机构</h2>
    </div>
</div>
<div class="row">
    {% for group in groups %}
    <div class="col-sm-3 file">
        <a href="/group/show?oid={{group.oid}}">
            <span class="corner"></span>
            <div class="img">
                <img src="{{group.coverpath}}512_256.png" class="img-responsive" alt="">
            </div>
            <div class="file-name text-center">
                {{group.title}}
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}