{% extends './layout/header.html' %}
{% block body %}
<div class="row">
    <div class="headline">
        <h2>最新课程</h2>
    </div>
</div>
<div class="row">
    {% for lesson in lessons %}
    <div class="col-sm-4">
        <div class="file">
            <a href="/lesson/{{lesson.lid}}">
                <span class="corner"></span>
                <div class="img">
                    <img src="{{lesson.cover_path}}512_256.png" class="img-responsive" alt="">
                </div>
                <div class="file-name text-center">
                    {{lesson.names}}
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="headline">
        <h2>最新机构</h2>
    </div>
</div>
<div class="row">
    {% for group in groups %}
    <div class="col-sm-4">
        <div class="file">
            <a href="/group/{{group.oid}}">
                <span class="corner"></span>
                <div class="img">
                    <img src="{{group.cover_path}}512_256.png" class="img-responsive" alt="">
                </div>
                <div class="file-name text-center">
                    {{group.names}}
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
