<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>登录</title>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/lib/page_log_reg_v1.css">
</head>
<body class="gray-bg">
<div class="container content">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <form class="reg-page">
                <div class="reg-header">
                    <h2>登录</h2>
                </div>

                <div class="margin-bottom-20">
                    <input type="text" placeholder="手机号码" id="mobile" required autofocus class="form-control">
                    <span id="mobileErr" style="color: red"></span>
                </div>
                <div class="row margin-bottom-20">
                    <div class="col-md-6">
                    <input type="text" placeholder="验证码" id="code" class="form-control" required>
                    </div>
                    <div class="col-md-6">
                    <button class="btn-u" id="codeGet" type="button">点击获取验证码</button></div>
                    <span id="codeErr" style="color: red"></span>
                </div>

                <div class="row">
                    <div class="col-md-6 checkbox">
                        <label><input type="checkbox"> 保持登录 </label>
                    </div>
                    <div class="col-md-6">
                        <button class="btn-u pull-right" type="submit">登录</button>
                    </div>
                </div>
                <div class="row">
                    <span id="loginErr" style="color: red"></span>
                </div>
                <hr>
                <p>没有账号 ?<a class="color-green" href="/register">注册</a>一个</p>
            </form>
        </div>
    </div>
</div>
<script src="/js/lib/jquery.min.js"></script>
<script type="text/javascript">
    var url='{{account}}',
        expire = '{{expire}}' ;
</script>
<script src="/js/login/beaca071fecd0a8f52e7.wp.js"></script>
</body>
</html>